In [1]:
# (My Code from ITMD 522 - HW#2)

# import pandas as pd.
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# X path
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/Project/Data/X_data.csv') 
X = pd.read_csv(folder_path)
X

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,132483.000000,132483.000000,7.356000e+01,6.277000e+01,13.000000,5.000000,0.000000,9.0,0.0,0.0,...,4.000000,-1.000000,140.000000,4.000000,-1.000000,140.000000,2022.0,9.0,5.000000,26.000000
1,70.000000,1.000000,1.394000e+02,1.394000e+02,6.000000,1.000000,3.000000,9.0,0.0,0.0,...,1.000000,-1.000000,660.000000,0.000000,-1.000000,990.000000,2022.0,9.0,1.000000,24.000000
2,3051.000000,114674.000000,1.604690e+03,1.604690e+03,11.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,-1.000000,0.000000,3.000000,-1.000000,250.000000,2022.0,9.0,5.000000,27.000000
3,35777.000000,136474.000000,1.300807e+06,1.300807e+06,0.000000,1.000000,3.000000,9.0,0.0,0.0,...,-1.000000,-1.000000,8.000000,-1.000000,-1.000000,5.000000,2022.0,9.0,1.000000,26.000000
4,210858.000000,225145.000000,5.022953e+04,5.022953e+04,5.000000,10.000000,5.000000,9.0,0.0,0.0,...,3.000000,-1.000000,4.000000,-1.000000,-1.000000,87.000000,2022.0,9.0,10.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23889290,1270.116910,24421.056614,4.027445e+03,4.027445e+03,13.346563,3.568250,3.738625,9.0,0.0,0.0,...,2.477250,-1.000000,342.037697,2.477250,-1.000000,20.904184,2022.0,9.0,3.568250,49.039688
23889291,27262.158268,6693.816945,2.510356e+05,2.510356e+05,7.514445,8.028890,2.988444,9.0,0.0,0.0,...,-1.000000,-1.000000,1865.675055,-1.000000,-1.000000,2150.642312,2022.0,9.0,8.028890,17.959555
23889292,4.407665,1217.000000,6.505698e+03,6.505698e+03,6.639371,4.824042,1.055749,9.0,0.0,0.0,...,-1.000000,-1.000000,5310.331415,-1.000000,-1.000000,0.000000,2022.0,9.0,4.824042,33.047036
23889293,11.359139,15.309672,1.266517e+04,1.266517e+04,15.718279,4.077418,3.563443,9.0,0.0,0.0,...,-0.281721,-0.281721,25.647294,-1.000000,-1.000000,2473.569215,2022.0,9.0,4.077418,39.845164
23889294,2975.774755,21890.579668,2.064399e+03,2.064399e+03,4.605445,7.842178,2.842178,9.0,0.0,0.0,...,-0.842178,-1.000000,24.069224,-0.921089,-0.921089,3.552377,2022.0,9.0,7.842178,39.500692

In [3]:
# y path
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/Project/Data/y_data.csv') 
y = pd.read_csv(folder_path)
y

          Is Laundering
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
23889290              1
23889291              1
23889292              1
23889293              1
23889294              1

[23889295 rows x 1 columns]

In [4]:
df = pd.concat([X, y], axis=1)
df

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute,Is Laundering
0,132483.000000,132483.000000,7.356000e+01,6.277000e+01,13.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,140.000000,4.000000,-1.000000,140.000000,2022.0,9.0,5.000000,26.000000,0
1,70.000000,1.000000,1.394000e+02,1.394000e+02,6.000000,1.000000,3.000000,9.0,0.0,0.0,...,-1.000000,660.000000,0.000000,-1.000000,990.000000,2022.0,9.0,1.000000,24.000000,0
2,3051.000000,114674.000000,1.604690e+03,1.604690e+03,11.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,0.000000,3.000000,-1.000000,250.000000,2022.0,9.0,5.000000,27.000000,0
3,35777.000000,136474.000000,1.300807e+06,1.300807e+06,0.000000,1.000000,3.000000,9.0,0.0,0.0,...,-1.000000,8.000000,-1.000000,-1.000000,5.000000,2022.0,9.0,1.000000,26.000000,0
4,210858.000000,225145.000000,5.022953e+04,5.022953e+04,5.000000,10.000000,5.000000,9.0,0.0,0.0,...,-1.000000,4.000000,-1.000000,-1.000000,87.000000,2022.0,9.0,10.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23889290,1270.116910,24421.056614,4.027445e+03,4.027445e+03,13.346563,3.568250,3.738625,9.0,0.0,0.0,...,-1.000000,342.037697,2.477250,-1.000000,20.904184,2022.0,9.0,3.568250,49.039688,1
23889291,27262.158268,6693.816945,2.510356e+05,2.510356e+05,7.514445,8.028890,2.988444,9.0,0.0,0.0,...,-1.000000,1865.675055,-1.000000,-1.000000,2150.642312,2022.0,9.0,8.028890,17.959555,1
23889292,4.407665,1217.000000,6.505698e+03,6.505698e+03,6.639371,4.824042,1.055749,9.0,0.0,0.0,...,-1.000000,5310.331415,-1.000000,-1.000000,0.000000,2022.0,9.0,4.824042,33.047036,1
23889293,11.359139,15.309672,1.266517e+04,1.266517e+04,15.718279,4.077418,3.563443,9.0,0.0,0.0,...,-0.281721,25.647294,-1.000000,-1.000000,2473.569215,2022.0,9.0,4.077418,39.845164,1
23889294,2975.774755,21890.579668,2.064399e+03,2.064399e+03,4.605445,7.842178,2.842178,9.0,0.0,0.0,...,-1.000000,24.069224,-0.921089,-0.921089,3.552377,2022.0,9.0,7.842178,39.500692,1

# Dataframe when Receiving Currency_US Dollar = 1

In [5]:
filtered_df = df[df['Receiving Currency_US Dollar'] == 1].drop(columns=['Receiving Currency_US Dollar'])
filtered_df

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute,Is Laundering
0,132483.000000,132483.000000,73.560000,62.770000,13.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,140.000000,4.000000,-1.000000,140.000000,2022.0,9.0,5.000000,26.000000,0
1,70.000000,1.000000,139.400000,139.400000,6.000000,1.000000,3.000000,9.0,0.0,0.0,...,-1.000000,660.000000,0.000000,-1.000000,990.000000,2022.0,9.0,1.000000,24.000000,0
2,3051.000000,114674.000000,1604.690000,1604.690000,11.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,0.000000,3.000000,-1.000000,250.000000,2022.0,9.0,5.000000,27.000000,0
9,127980.000000,138578.000000,230.970000,230.970000,22.000000,9.000000,4.000000,9.0,0.0,0.0,...,-1.000000,5880.000000,0.000000,3.000000,20.000000,2022.0,9.0,9.000000,22.000000,0
10,353562.000000,111913.000000,3739.780000,3739.780000,21.000000,9.000000,4.000000,9.0,0.0,0.0,...,-1.000000,0.000000,4.000000,-1.000000,0.000000,2022.0,9.0,9.000000,51.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23889278,116804.597456,1286.806286,2065.482794,2065.482794,7.362765,5.186174,2.725530,9.0,0.0,0.0,...,-1.000000,375.968569,-1.000000,-1.000000,467.084073,2022.0,9.0,5.186174,8.823409,1
23889279,326.559022,1000.489440,13146.540899,13146.540899,15.127555,9.461417,4.461417,9.0,0.0,0.0,...,-1.000000,788.730452,-0.640944,-1.000000,248.650627,2022.0,9.0,9.461417,5.872445,1
23889289,1127.073867,2657.072490,2579.521682,2579.521682,11.679453,7.169863,2.169863,9.0,0.0,0.0,...,0.169863,59.008901,0.169863,-0.122603,5186.225534,2022.0,9.0,7.169863,10.169863,1
23889290,1270.116910,24421.056614,4027.445187,4027.445187,13.346563,3.568250,3.738625,9.0,0.0,0.0,...,-1.000000,342.037697,2.477250,-1.000000,20.904184,2022.0,9.0,3.568250,49.039688,1
23889292,4.407665,1217.000000,6505.698445,6505.698445,6.639371,4.824042,1.055749,9.0,0.0,0.0,...,-1.000000,5310.331415,-1.000000,-1.000000,0.000000,2022.0,9.0,4.824042,33.047036,1

In [6]:
# Split into X and y
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [7]:
# To check datatype for each column of dataset 'dataFile'.
display(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23889295 entries, 0 to 23889294
Data columns (total 55 columns):
 #   Column                                Dtype
---  ------                                -----
 0   From Bank                             float64
 1   To Bank                               float64
 2   Amount Received                       float64
 3   Amount Paid                           float64
 4   hour                                  float64
 5   day                                   float64
 6   weekday                               float64
 7   month                                 float64
 8   Receiving Currency_Australian Dollar  float64
 9   Receiving Currency_Bitcoin            float64
 10  Receiving Currency_Brazil Real        float64
 11  Receiving Currency_Canadian Dollar    float64
 12  Receiving Currency_Euro               float64
 13  Receiving Currency_Mexican Peso       float64
 14  Receiving Currency_Ruble              float64
 15  Receiving Currency_Rupee              float64
 16  Receiving Currency_Saudi Riyal        float64
 17  Receiving Currency_Shekel             float64
 18  Receiving Currency_Swiss Franc        float64
 19  Receiving Currency_UK Pound           float64
 20  Receiving Currency_US Dollar          float64
 21  Receiving Currency_Yen                float64
 22  Receiving Currency_Yuan               float64
 23  Payment Currency_Australian Dollar    float64
 24  Payment Currency_Bitcoin              float64
 25  Payment Currency_Brazil Real          float64
 26  Payment Currency_Canadian Dollar      float64
 27  Payment Currency_Euro                 float64
 28  Payment Currency_Mexican Peso         float64
 29  Payment Currency_Ruble                float64
 30  Payment Currency_Rupee                float64
 31  Payment Currency_Saudi Riyal          float64
 32  Payment Currency_Shekel               float64
 33  Payment Currency_Swiss Franc          float64
 34  Payment Currency_UK Pound             float64
 35  Payment Currency_US Dollar            float64
 36  Payment Currency_Yen                  float64
 37  Payment Currency_Yuan                 float64
 38  Payment Format_ACH                    float64
 39  Payment Format_Bitcoin                float64
 40  Payment Format_Cash                   float64
 41  Payment Format_Cheque                 float64
 42  Payment Format_Credit Card            float64
 43  Payment Format_Reinvestment           float64
 44  Payment Format_Wire                   float64
 45  AG_L1                                 float64
 46  AG_L2                                 float64
 47  AG_Num                                float64
 48  AG1_L1                                float64
 49  AG1_L2                                float64
 50  AG1_Num                               float64
 51  timestamp_column_name_year            float64
 52  timestamp_column_name_month           float64
 53  timestamp_column_name_day             float64
 54  timestamp_column_name_minute          float64
dtypes: float64(55)
memory usage: 9.8 GB

None

In [8]:
# We need to see unique values for dataFile.
display(X.nunique())

From Bank                               10988585
To Bank                                 11782832
Amount Received                         13723145
Amount Paid                             13738237
hour                                    11385988
day                                     10836531
weekday                                 10048251
month                                          1
Receiving Currency_Australian Dollar      516213
Receiving Currency_Bitcoin                345024
Receiving Currency_Brazil Real            318481
Receiving Currency_Canadian Dollar        567783
Receiving Currency_Euro                  4436865
Receiving Currency_Mexican Peso           288449
Receiving Currency_Ruble                  393912
Receiving Currency_Rupee                  589136
Receiving Currency_Saudi Riyal            943940
Receiving Currency_Shekel                 358526
Receiving Currency_Swiss Franc            572196
Receiving Currency_UK Pound               449226
Receiving Currency_US Dollar             5117358
Receiving Currency_Yen                    492180
Receiving Currency_Yuan                   830453
Payment Currency_Australian Dollar        516213
Payment Currency_Bitcoin                  345024
Payment Currency_Brazil Real              318481
Payment Currency_Canadian Dollar          567783
Payment Currency_Euro                    4436865
Payment Currency_Mexican Peso             288449
Payment Currency_Ruble                    393912
Payment Currency_Rupee                    589136
Payment Currency_Saudi Riyal              943940
Payment Currency_Shekel                   358526
Payment Currency_Swiss Franc              572196
Payment Currency_UK Pound                 449226
Payment Currency_US Dollar               5117358
Payment Currency_Yen                      492180
Payment Currency_Yuan                     830453
Payment Format_ACH                       2545241
Payment Format_Bitcoin                    345024
Payment Format_Cash                       563739
Payment Format_Cheque                    1694909
Payment Format_Credit Card               1048371
Payment Format_Reinvestment                    2
Payment Format_Wire                            2
AG_L1                                    7215544
AG_L2                                    2635897
AG_Num                                  11454222
AG1_L1                                   7084309
AG1_L2                                   3202188
AG1_Num                                 11556319
timestamp_column_name_year                     1
timestamp_column_name_month                    1
timestamp_column_name_day               10836531
timestamp_column_name_minute            11680567
dtype: int64

In [9]:
# Normalization on X
# y is already normalized.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)  # Returns a NumPy array

# Optionally convert back to DataFrame (to keep column names)
X_normalized = pd.DataFrame(X_normalized, columns=X.columns)
del X

X_normalized

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.351445,0.351445,2.018188e-11,1.722154e-11,0.565217,0.235294,0.000000,0.0,0.0,0.0,...,0.833333,0.000000,0.014013,0.833333,0.000000,0.014013,0.0,0.0,0.235294,0.440678
1,0.000186,0.000003,3.824571e-11,3.824571e-11,0.260870,0.000000,0.500000,0.0,0.0,0.0,...,0.333333,0.000000,0.066059,0.166667,0.000000,0.099089,0.0,0.0,0.000000,0.406780
2,0.008094,0.304202,4.402618e-10,4.402618e-10,0.478261,0.235294,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.666667,0.000000,0.025023,0.0,0.0,0.235294,0.457627
3,0.094908,0.362032,3.568888e-07,3.568888e-07,0.000000,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.000801,0.000000,0.000000,0.000500,0.0,0.0,0.000000,0.440678
4,0.559354,0.597254,1.378095e-08,1.378095e-08,0.217391,0.529412,0.833333,0.0,0.0,0.0,...,0.666667,0.000000,0.000400,0.000000,0.000000,0.008708,0.0,0.0,0.529412,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23889290,0.003369,0.064783,1.104968e-09,1.104968e-09,0.580285,0.151074,0.623104,0.0,0.0,0.0,...,0.579542,0.000000,0.034235,0.579542,0.000000,0.002092,0.0,0.0,0.151074,0.831181
23889291,0.072320,0.017757,6.887398e-08,6.887398e-08,0.326715,0.413464,0.498074,0.0,0.0,0.0,...,0.000000,0.000000,0.186736,0.000000,0.000000,0.215258,0.0,0.0,0.413464,0.304399
23889292,0.000012,0.003228,1.784900e-09,1.784900e-09,0.288668,0.224944,0.175958,0.0,0.0,0.0,...,0.000000,0.000000,0.531512,0.000000,0.000000,0.000000,0.0,0.0,0.224944,0.560119
23889293,0.000030,0.000041,3.474810e-09,3.474810e-09,0.683403,0.181025,0.593907,0.0,0.0,0.0,...,0.119713,0.119713,0.002567,0.000000,0.000000,0.247580,0.0,0.0,0.181025,0.675342
23889294,0.007894,0.058070,5.663874e-10,5.663874e-10,0.200237,0.402481,0.473696,0.0,0.0,0.0,...,0.026304,0.000000,0.002409,0.013152,0.013152,0.000356,0.0,0.0,0.402481,0.669503

In [10]:
# check again whether there are missing values (Code from HW-3)
print('ColumnName, DataType, MissingValues')
for idx in X_normalized.columns:
    print(idx, ',', X_normalized[idx].dtype,',',X_normalized[idx].isnull().any())

ColumnName, DataType, MissingValues
From Bank , float64 , False
To Bank , float64 , False
Amount Received , float64 , False
Amount Paid , float64 , False
hour , float64 , False
day , float64 , False
weekday , float64 , False
month , float64 , False
Receiving Currency_Australian Dollar , float64 , False
Receiving Currency_Bitcoin , float64 , False
Receiving Currency_Brazil Real , float64 , False
Receiving Currency_Canadian Dollar , float64 , False
Receiving Currency_Euro , float64 , False
Receiving Currency_Mexican Peso , float64 , False
Receiving Currency_Ruble , float64 , False
Receiving Currency_Rupee , float64 , False
Receiving Currency_Saudi Riyal , float64 , False
Receiving Currency_Shekel , float64 , False
Receiving Currency_Swiss Franc , float64 , False
Receiving Currency_UK Pound , float64 , False
Receiving Currency_US Dollar , float64 , False
Receiving Currency_Yen , float64 , False
Receiving Currency_Yuan , float64 , False
Payment Currency_Australian Dollar , float64 , False
Payment Currency_Bitcoin , float64 , False
Payment Currency_Brazil Real , float64 , False
Payment Currency_Canadian Dollar , float64 , False
Payment Currency_Euro , float64 , False
Payment Currency_Mexican Peso , float64 , False
Payment Currency_Ruble , float64 , False
Payment Currency_Rupee , float64 , False
Payment Currency_Saudi Riyal , float64 , False
Payment Currency_Shekel , float64 , False
Payment Currency_Swiss Franc , float64 , False
Payment Currency_UK Pound , float64 , False
Payment Currency_US Dollar , float64 , False
Payment Currency_Yen , float64 , False
Payment Currency_Yuan , float64 , False
Payment Format_ACH , float64 , False
Payment Format_Bitcoin , float64 , False
Payment Format_Cash , float64 , False
Payment Format_Cheque , float64 , False
Payment Format_Credit Card , float64 , False
Payment Format_Reinvestment , float64 , False
Payment Format_Wire , float64 , False
AG_L1 , float64 , False
AG_L2 , float64 , False
AG_Num , float64 , False
AG1_L1 , float64 , False
AG1_L2 , float64 , False
AG1_Num , float64 , False
timestamp_column_name_year , float64 , False
timestamp_column_name_month , float64 , False
timestamp_column_name_day , float64 , False
timestamp_column_name_minute , float64 , False

# Use Malware_MultiClass.csv data by using 10-fold cross validation.

In [11]:
# To run KNN by using 10-fold cross validation (Code from HW-2)

from sklearn.model_selection import StratifiedKFold

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html
# class sklearn.model_selection.StratifiedKFold(n_splits=5, *, shuffle=False, random_state=None)
# Stratified K-Fold cross-validator.
# Provides train/test indices to split data in train/test sets.
# This cross-validation object is a variation of KFold that returns stratified folds. The folds are made by preserving the percentage of samples for each class.

cross_validation = StratifiedKFold(n_splits = 10, # Number of folds. Must be at least 2.
                                   # shufflebool, default=False
                                   # Whether to shuffle each class’s samples before splitting into batches. Note that the samples within each split will not be shuffled.
                                  shuffle = True,
                                   # random_stateint, RandomState instance or None, default=None
                                   # When shuffle is True, random_state affects the ordering of the indices, which controls the randomness of each fold for each class. Otherwise, leave random_state as None. Pass an int for reproducible output across multiple function calls. See Glossary.
                                  random_state=42)

In [12]:
# (Code from HW-2 and HW-3)

from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, roc_auc_score

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.htmls
# sklearn.metrics.make_scorer(score_func, *, response_method='default', greater_is_better=True, **kwargs)
# Make a scorer from a performance metric or loss function.
# A scorer is a wrapper around an arbitrary metric or loss function that is called with the signature scorer(estimator, X, y_true, **kwargs).
# It is accepted in all scikit-learn estimators or functions allowing a scoring parameter.
# The parameter response_method allows to specify which method of the estimator should be used to feed the scoring/loss function.
# response_method{“predict_proba”, “decision_function”, “predict”} or list/tuple of such str, default=None
# metrics_score_list = {
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
#     'accuracy_score' : make_scorer(accuracy_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
#     'precision_score' : make_scorer(precision_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
#     'recall_scores' : make_scorer(recall_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
#     'roc_auc_score' : make_scorer(roc_auc_score),
# }

metrics_score_list = ['accuracy', # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
                      'precision', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
                      'recall', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
                      'roc_auc']

# Define multiple Decision Tree models with different parameters

In [13]:
from sklearn.tree import DecisionTreeClassifier

# DIFFERENT PARAMETERS. (https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)
# class sklearn.tree.DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0, monotonic_cst=None)
# criterion : {“gini”, “entropy”, “log_loss”}, default=”gini”
# splitter : {“best”, “random”}, default=”best”
# max_depth : int, default=None
# min_samples_split : int or float, default=2
# min_samples_leaf : int or float, default=1

clfs = {
    "Model-1: DecisionTreeClassifier_Sample_def": DecisionTreeClassifier(random_state=42,
                                                             criterion='gini', 
                                                             splitter='best', 
                                                             max_depth=None, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=None, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),
    
    "Model-2: DecisionTreeClassifier_criterionEntropy": DecisionTreeClassifier(random_state=42,
                                                             criterion='entropy', 
                                                             splitter='best', 
                                                             max_depth=None, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=43, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),

    "Model-3: DecisionTreeClassifier_MaxDepth5": DecisionTreeClassifier(random_state=42,
                                                             criterion='entropy', 
                                                             splitter='best', 
                                                             max_depth=5, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=42, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0), 

    "Model-4: DecisionTreeClassifier_MinSamplesSplit10_criterionEntropy": DecisionTreeClassifier(random_state=42,
                                                             criterion='entropy', 
                                                             splitter='best', 
                                                             max_depth=10, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=42, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),

    "Model-5: DecisionTreeClassifier_MinSamplesSplit10_criterionGini": DecisionTreeClassifier(random_state=42,
                                                             criterion='gini', 
                                                             splitter='best', 
                                                             max_depth=10, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=42, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),

    "Model-6: DecisionTreeClassifier__MinSamplesLeaf5_criterionEntropy": DecisionTreeClassifier(random_state=42,
                                                             criterion='entropy', 
                                                             splitter='best', 
                                                             max_depth=5, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=42, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),

    "Model-7: DecisionTreeClassifier__MinSamplesLeaf5_criterionGini": DecisionTreeClassifier(random_state=42,
                                                             criterion='gini', 
                                                             splitter='best', 
                                                             max_depth=5, 
                                                             min_samples_split=2, 
                                                             min_samples_leaf=1, 
                                                             min_weight_fraction_leaf=0.0, 
                                                             max_features=None, 
#                                                              random_state=42, 
                                                             max_leaf_nodes=None, 
                                                             min_impurity_decrease=0.0, 
                                                             class_weight=None, 
                                                             ccp_alpha=0.0),

    "Default: DecisionTreeClassifier__MinSamplesLeaf5_ccpAlpha002_criterionLogLoss": DecisionTreeClassifier(criterion='log_loss', 
                                                            max_depth=4, 
                                                            max_leaf_nodes = 5, ccp_alpha = 0.02,
                                                            min_samples_split=2,
                                                            min_impurity_decrease=0.02)
}

# Build decision tree models

In [ ]:
# (Code efrom HW-2, 3, and 4)

# from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.metrics import roc_auc_score, make_scorer
import numpy as np
import gc

# k_fold_res list.
neigh_scores_k_fold_res = {}

for name, clf in clfs.items():
    neigh_scores = cross_val_score(clf, # estimator : estimator object implementing ‘fit’.
                                                   # predict_cols = dataFile.drop(columns=['classification'])
                                                   # X
                                                   X_normalized, 
                                                   # target_col = dataFile['classification']
                                                   # y
                                                   y, 
                                                   # n_splits = 10 in the above function.
                                                   # cv : int, cross-validation generator or an iterable, default=None
                                                   cv=cross_validation, 
                                                   # we just need roc_auc_score, otherwise add all.
                                                   # A str (see The scoring parameter: defining model evaluation rules) or a scorer callable object / function with signature scorer(estimator, X, y) which should return only a single value.
                                                   scoring=make_scorer(roc_auc_score, needs_proba=True, multi_class="ovr"),
                                                   # n_jobsint, default=None. Number of jobs to run in parallel. Training the estimator and computing the score are parallelized over the cross-validation splits. None means 1 unless in a joblib.parallel_backend context. -1 means using all processors. See Glossary for more details.
                                                   # mean to get (mean) of all 10 folds as asked.
                                                   n_jobs=4,
                                                   verbose=0)

    # Store results
    neigh_scores_k_fold_res[clf] = np.mean(neigh_scores)
    del neigh_scores
    gc.collect()
      
# SHow the list and their AUC values.        
neigh_scores_k_fold_res
# Convert results to DataFrame and display
# temp_results_df = pd.DataFrame(k_fold_res)
# temp_results_df (Next roew)

In [ ]:
# Create a new dataframe temp_results_df.
temp_results_df = pd.DataFrame(list(neigh_scores_k_fold_res.items()), # List the set items.
                          # Column name ["DecisionTreeClassifier_Model", "AUC Score"]
                          columns=["DecisionTreeClassifier_Model", "AUC Score"],
                          dtype=None,
                          copy=None)

# Display the temp_results_df.
display("temp_results_df score is: \n")
display(temp_results_df)

In [ ]:
# Find the best model based on the highest AUC score, find the location here.
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
# df.loc['viper']
# max_speed    4
# shield       5
# Name: viper, dtype: int64
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html
temp_best_model_name = temp_results_df.loc[temp_results_df["AUC Score"].idxmax(axis=0, # axis : {0 or ‘index’, 1 or ‘columns’}, default 0
                                                                               skipna=True), # skip : nabool, default True
#                                                                                numeric_only=False), # numeric_only : bool, default False
                                           "DecisionTreeClassifier_Model"]

# Fine the highest AUC score.
score_temp_model_selected = temp_results_df["AUC Score"].max(skipna=True, # skipna : bool, default True
                                               numeric_only=False) # numeric_only : bool, default False

# Display the best model and its score from k_fold_res.
# Model-5 is the best. Model-5: DecisionTreeClassifier_MinSamplesSplit10_criterionGini
print("********************************************************************************************")
print("1. THE temp_best_model_name is := ", temp_best_model_name)
print("********************************************************************************************")
print("2. THE score_temp_model_selected is := ", score_temp_model_selected)
print("********************************************************************************************")

In [ ]:
# FROM CODE FROM THE CLASS.

from sklearn.tree import export_graphviz
import graphviz

# Assuming `temp_best_model_name` is a trained DecisionTreeClassifier
dot_data = export_graphviz(temp_best_model_name, 
                           out_file=None, 
                           feature_names=X_normalized.columns.to_list(),  
                           filled=True)

# Draw graph
graph = graphviz.Source(dot_data, format="png") 

# Save graph to MyDecisionTree.png
graph.render("MyDecisionTree")

# Display graph
graph