In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# (My Code from ITMD 522 - HW#2)

# import pandas as pd.
import pandas as pd
import numpy as np
from pathlib import Path

# Folder path: '/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset'
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset')  

# Read the excel file and specific 'Data' spreadsheet from CSV file. Get all CSV files in the folder.
# pandas.read_csv(filepath_or_buffer, *, sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=<no_default>, skip_blank_lines=True, parse_dates=None, infer_datetime_format=<no_default>, keep_date_col=<no_default>, date_parser=<no_default>, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=<no_default>, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=<no_default>)
# csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]
csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]

# To assign names for each datafile as a dataframe.
for file in csv_files:
    var_name = file.stem.replace(" ", "_").replace("-", "_")
    globals()[var_name] = pd.read_csv(file)
    print(f"Loaded: {var_name} (shape: {globals()[var_name].shape})")

Loaded: HI_Small_Trans (shape: (5078345, 11))
Loaded: LI_Small_Trans (shape: (6924049, 11))

# HI_Small_Trans dataset.

In [3]:
LI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

# LI_Small_Trans dataset.

In [4]:
HI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

# Merge two dataset.

In [5]:
merged_Small_df = pd.concat([LI_Small_Trans, HI_Small_Trans], ignore_index=True)
display(merged_Small_df)
display(merged_Small_df.info())
display(merged_Small_df.nunique())
value_counts = merged_Small_df['Is Laundering'].value_counts()
print(value_counts)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
12002389,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,1.549780e-01,Bitcoin,1.549780e-01,Bitcoin,Bitcoin,0
12002390,2022/09/10 23:35,15,8148A8671,256398,8148A8711,1.081280e-01,Bitcoin,1.081280e-01,Bitcoin,Bitcoin,0
12002391,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,4.988000e-03,Bitcoin,4.988000e-03,Bitcoin,Bitcoin,0
12002392,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,3.841700e-02,Bitcoin,3.841700e-02,Bitcoin,Bitcoin,0
12002393,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,2.819830e-01,Bitcoin,2.819830e-01,Bitcoin,Bitcoin,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12002394 entries, 0 to 12002393
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 1007.3+ MB

None

Timestamp               15133
From Bank               57222
Account               1166980
To Bank                 33608
Account.1              988911
Amount Received       1835635
Receiving Currency         15
Amount Paid           1850741
Payment Currency           15
Payment Format              7
Is Laundering               2
dtype: int64

0    11993652
1        8742
Name: Is Laundering, dtype: int64

# X independent and Y dependent variable.

In [6]:
# Define a function to extract last 4 characters from account (as string)
def last_4_digits(val):
    if pd.isna(val):
        return 'UNK'  # For missing values
    return str(val)[-4:]

# Apply it to high-cardinality object columns
merged_Small_df['Account_Grouped'] = merged_Small_df['Account'].apply(last_4_digits)
merged_Small_df['Account1_Grouped'] = merged_Small_df['Account.1'].apply(last_4_digits)

X = merged_Small_df.drop(columns='Is Laundering')
y = merged_Small_df['Is Laundering']

print("X:\n")
display(X)

print("Y:\n")
display(y)

X:

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Account_Grouped,Account1_Grouped
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,CA90,CA90
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,DAD0,DAD0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,CA90,A910
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,D080,D080
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,D530,D530
...,...,...,...,...,...,...,...,...,...,...,...,...
12002389,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,1.549780e-01,Bitcoin,1.549780e-01,Bitcoin,Bitcoin,6631,8711
12002390,2022/09/10 23:35,15,8148A8671,256398,8148A8711,1.081280e-01,Bitcoin,1.081280e-01,Bitcoin,Bitcoin,8671,8711
12002391,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,4.988000e-03,Bitcoin,4.988000e-03,Bitcoin,Bitcoin,6771,8711
12002392,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,3.841700e-02,Bitcoin,3.841700e-02,Bitcoin,Bitcoin,6311,8711
12002393,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,2.819830e-01,Bitcoin,2.819830e-01,Bitcoin,Bitcoin,6091,8711

Y:

0           0
1           0
2           0
3           0
4           0
           ..
12002389    0
12002390    0
12002391    0
12002392    0
12002393    0
Name: Is Laundering, Length: 12002394, dtype: int64

# Things I did for X.

- Convert Timestamp into columns like i.e., {hour, day, weekday, and month}.
- For Account_Grouped and Account1_Grouped columns,
    - Extract first two letters (if present)
    - Collect the digits at the end (whatever part is numeric)

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import re

# Drop redundant columns
X = X.drop(columns=['Account', 'Account.1'])

# Convert string to datetime
X['timestamp_column_name'] = pd.to_datetime(X['Timestamp'])

# Extract datetime features
X['hour'] = X['timestamp_column_name'].dt.hour
X['day'] = X['timestamp_column_name'].dt.day
X['weekday'] = X['timestamp_column_name'].dt.weekday
X['month'] = X['timestamp_column_name'].dt.month

X = X.drop(['Timestamp'], axis=1)

# One-hot encode selected categorical columns
categorical_cols = ['Receiving Currency', 'Payment Currency', 'Payment Format']

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_array = encoder.fit_transform(X[categorical_cols])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_cols),
    index=X.index
)

X = pd.concat([X.drop(columns=categorical_cols), encoded_df], axis=1)

def fast_encode_account_grouped(df, column_name, prefix):
    col = df[column_name].astype(str).str.strip()

    # Extract first two letters
    letters = col.str.extract(r'([A-Za-z])?([A-Za-z])?')
    digits = col.str.extract(r'(\d+)')

    l1 = letters[0].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    l2 = letters[1].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    num = digits[0].fillna(-1).astype(int)

    return pd.DataFrame({
        f'{prefix}_L1': l1,
        f'{prefix}_L2': l2,
        f'{prefix}_Num': num
    }, index=df.index)

# Apply vectorized encoding
X = pd.concat([
    X,
    fast_encode_account_grouped(X, 'Account_Grouped', 'AG'),
    fast_encode_account_grouped(X, 'Account1_Grouped', 'AG1')
], axis=1)

X.drop(columns=['Account_Grouped', 'Account1_Grouped'], inplace=True)

/usr/local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
y

0           0
1           0
2           0
3           0
4           0
           ..
12002389    0
12002390    0
12002391    0
12002392    0
12002393    0
Name: Is Laundering, Length: 12002394, dtype: int64

# Now, Oversample (SMOTE) and Undersample Majority Class.

- We will get new balanced data -- X and y.

In [9]:
# Identify datetime columns
datetime_cols = X.select_dtypes(include=['datetime64']).columns
print(datetime_cols)

# Convert them into numeric features (like year, month, etc.)
for col in datetime_cols:
    X[f'{col}_year'] = X[col].dt.year
    X[f'{col}_month'] = X[col].dt.month
    X[f'{col}_day'] = X[col].dt.day
    X[f'{col}_minute'] = X[col].dt.minute
    # drop original datetime column
    X.drop(columns=col, inplace=True)
    
X

Index(['timestamp_column_name'], dtype='object')

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,11,11,3.195403e+06,3.195403e+06,0,1,3,9,0.0,0.0,...,2,0,90,2,0,90,2022,9,1,8
1,3402,3402,1.858960e+03,1.858960e+03,0,1,3,9,0.0,0.0,...,3,0,0,3,0,0,2022,9,1,21
2,11,1120,5.925710e+05,5.925710e+05,0,1,3,9,0.0,0.0,...,2,0,90,0,-1,910,2022,9,1,0
3,3814,3814,1.232000e+01,1.232000e+01,0,1,3,9,0.0,0.0,...,3,-1,80,3,-1,80,2022,9,1,16
4,20,20,2.941560e+03,2.941560e+03,0,1,3,9,0.0,0.0,...,3,-1,530,3,-1,530,2022,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002389,54219,256398,1.549780e-01,1.549780e-01,23,10,5,9,0.0,1.0,...,-1,-1,6631,-1,-1,8711,2022,9,10,57
12002390,15,256398,1.081280e-01,1.081280e-01,23,10,5,9,0.0,1.0,...,-1,-1,8671,-1,-1,8711,2022,9,10,35
12002391,154365,256398,4.988000e-03,4.988000e-03,23,10,5,9,0.0,1.0,...,-1,-1,6771,-1,-1,8711,2022,9,10,52
12002392,256398,256398,3.841700e-02,3.841700e-02,23,10,5,9,0.0,1.0,...,-1,-1,6311,-1,-1,8711,2022,9,10,46
12002393,154518,256398,2.819830e-01,2.819830e-01,23,10,5,9,0.0,1.0,...,-1,-1,6091,-1,-1,8711,2022,9,10,37

In [10]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from sklearn.utils import shuffle
from joblib import Parallel, delayed
import numpy as np
import pandas as pd

# Create a valid SMOTEENN instance with actual SMOTE
def create_smoteenn():
    return SMOTEENN(
        sampling_strategy='auto',
        random_state=42,
        smote=SMOTE(k_neighbors=3, n_jobs=-1),  # ✅ must be SMOTE
        enn=EditedNearestNeighbours(n_neighbors=3, n_jobs=-1),
        n_jobs=-1
    )

# Process one batch safely
def process_batch(X_batch, y_batch, i):
    try:
        sme = create_smoteenn()
        X_res, y_res = sme.fit_resample(X_batch, y_batch)
        print(f"✅ Batch {i+1} done")
        return X_res, y_res
    except Exception as e:
        print(f"⚠️ Skipping batch {i+1}: {e}")
        return None

# Main function: parallel + SMOTEENN
def batchwise_smoteenn_fast(X, y, batch_size=200000, n_jobs=-1):
    # Optional shuffle to randomize order
    X, y = shuffle(X, y, random_state=42)

    # Convert to NumPy for slicing
    X_np = X.values if isinstance(X, pd.DataFrame) else X
    y_np = y.values if isinstance(y, pd.Series) else y

    num_rows = len(X_np)
    num_batches = (num_rows + batch_size - 1) // batch_size

    # Prepare batches
    batches = [
        (X_np[i * batch_size : min((i + 1) * batch_size, num_rows)],
         y_np[i * batch_size : min((i + 1) * batch_size, num_rows)], i)
        for i in range(num_batches)
    ]

    print(f"🚀 Starting parallel processing with {num_batches} batches...")

    # Run in parallel
    results = Parallel(n_jobs=n_jobs)(
        delayed(process_batch)(*args) for args in batches
    )

    # Filter out failed batches
    X_resampled_list = [r[0] for r in results if r is not None]
    y_resampled_list = [r[1] for r in results if r is not None]

    if not X_resampled_list:
        raise ValueError("All batches failed. Nothing to concatenate.")

    # Combine
    X_final = np.vstack(X_resampled_list)
    y_final = np.hstack(y_resampled_list)

    # Convert back to DataFrame/Series if needed
    if isinstance(X, pd.DataFrame):
        X_final = pd.DataFrame(X_final, columns=X.columns)
    if isinstance(y, pd.Series):
        y_final = pd.Series(y_final, name=y.name)

    print("✅ All batches processed and combined.")
    return X_final, y_final

X, y = batchwise_smoteenn_fast(X, y, batch_size=200000, n_jobs=4)

X

🚀 Starting parallel processing with 61 batches...

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

✅ All batches processed and combined.
✅ Batch 1 done
✅ Batch 5 done
✅ Batch 9 done
✅ Batch 13 done
✅ Batch 17 done
✅ Batch 21 done
✅ Batch 25 done
✅ Batch 29 done
✅ Batch 33 done
✅ Batch 37 done
✅ Batch 41 done
✅ Batch 45 done
✅ Batch 49 done
✅ Batch 53 done
✅ Batch 57 done
⚠️ Skipping batch 61: Expected n_neighbors <= n_samples,  but n_samples = 1, n_neighbors = 4
✅ Batch 4 done
✅ Batch 6 done
✅ Batch 10 done
✅ Batch 14 done
✅ Batch 18 done
✅ Batch 22 done
✅ Batch 26 done
✅ Batch 30 done
✅ Batch 34 done
✅ Batch 38 done
✅ Batch 42 done
✅ Batch 46 done
✅ Batch 50 done
✅ Batch 54 done
✅ Batch 58 done
✅ Batch 2 done
✅ Batch 7 done
✅ Batch 11 done
✅ Batch 15 done
✅ Batch 19 done
✅ Batch 23 done
✅ Batch 27 done
✅ Batch 31 done
✅ Batch 35 done
✅ Batch 39 done
✅ Batch 43 done
✅ Batch 47 done
✅ Batch 51 done
✅ Batch 55 done
✅ Batch 59 done
✅ Batch 3 done
✅ Batch 8 done
✅ Batch 12 done
✅ Batch 16 done
✅ Batch 20 done
✅ Batch 24 done
✅ Batch 28 done
✅ Batch 32 done
✅ Batch 36 done
✅ Batch 40 done
✅ Batch 44 done
✅ Batch 48 done
✅ Batch 52 done
✅ Batch 56 done
✅ Batch 60 done

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_Australian Dollar,Receiving Currency_Bitcoin,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,132483.000000,132483.000000,7.356000e+01,6.277000e+01,13.000000,5.000000,0.000000,9.0,0.0,0.0,...,4.000000,-1.000000,140.000000,4.000000,-1.000000,140.000000,2022.0,9.0,5.000000,26.000000
1,70.000000,1.000000,1.394000e+02,1.394000e+02,6.000000,1.000000,3.000000,9.0,0.0,0.0,...,1.000000,-1.000000,660.000000,0.000000,-1.000000,990.000000,2022.0,9.0,1.000000,24.000000
2,3051.000000,114674.000000,1.604690e+03,1.604690e+03,11.000000,5.000000,0.000000,9.0,0.0,0.0,...,-1.000000,-1.000000,0.000000,3.000000,-1.000000,250.000000,2022.0,9.0,5.000000,27.000000
3,35777.000000,136474.000000,1.300807e+06,1.300807e+06,0.000000,1.000000,3.000000,9.0,0.0,0.0,...,-1.000000,-1.000000,8.000000,-1.000000,-1.000000,5.000000,2022.0,9.0,1.000000,26.000000
4,210858.000000,225145.000000,5.022953e+04,5.022953e+04,5.000000,10.000000,5.000000,9.0,0.0,0.0,...,3.000000,-1.000000,4.000000,-1.000000,-1.000000,87.000000,2022.0,9.0,10.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23889290,1270.116910,24421.056614,4.027445e+03,4.027445e+03,13.346563,3.568250,3.738625,9.0,0.0,0.0,...,2.477250,-1.000000,342.037697,2.477250,-1.000000,20.904184,2022.0,9.0,3.568250,49.039688
23889291,27262.158268,6693.816945,2.510356e+05,2.510356e+05,7.514445,8.028890,2.988444,9.0,0.0,0.0,...,-1.000000,-1.000000,1865.675055,-1.000000,-1.000000,2150.642312,2022.0,9.0,8.028890,17.959555
23889292,4.407665,1217.000000,6.505698e+03,6.505698e+03,6.639371,4.824042,1.055749,9.0,0.0,0.0,...,-1.000000,-1.000000,5310.331415,-1.000000,-1.000000,0.000000,2022.0,9.0,4.824042,33.047036
23889293,11.359139,15.309672,1.266517e+04,1.266517e+04,15.718279,4.077418,3.563443,9.0,0.0,0.0,...,-0.281721,-0.281721,25.647294,-1.000000,-1.000000,2473.569215,2022.0,9.0,4.077418,39.845164
23889294,2975.774755,21890.579668,2.064399e+03,2.064399e+03,4.605445,7.842178,2.842178,9.0,0.0,0.0,...,-0.842178,-1.000000,24.069224,-0.921089,-0.921089,3.552377,2022.0,9.0,7.842178,39.500692

In [11]:
y

0           0
1           0
2           0
3           0
4           0
           ..
23889290    1
23889291    1
23889292    1
23889293    1
23889294    1
Name: Is Laundering, Length: 23889295, dtype: int64

# Use OneHotEncoder for all the object datatype

In [12]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from scipy import sparse
from scipy.sparse import save_npz
import gc

# 1. Define time-related columns
excluded_time_cols = ['hour', 'day', 'weekday', 'month']

# 2. Identify categorical columns (excluding time cols)
categorical_cols = [col for col in X.select_dtypes(include='object') if col not in excluded_time_cols]

# 3. One-hot encode categorical features
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=True)
encoded_sparse = encoder.fit_transform(X[categorical_cols])
del categorical_cols
gc.collect()

# 4. Scale numeric columns (excluding categorical and time cols)
# Step-by-step: exclude object columns and excluded time cols
columns_to_exclude = X.select_dtypes(include='object').columns.tolist() + excluded_time_cols
numeric_X = X.drop(columns=columns_to_exclude, errors='ignore').select_dtypes(include=['number'])
scaler = StandardScaler()
scaled_numeric = scaler.fit_transform(numeric_X)
scaled_numeric_sparse = sparse.csr_matrix(scaled_numeric)
del numeric_X, scaled_numeric
gc.collect()

# 5. Convert time features to sparse
time_numeric_array = sparse.csr_matrix(X[excluded_time_cols].to_numpy())
gc.collect()

# 6. Combine all sparse matrices
X_final_sparse = sparse.hstack([encoded_sparse, scaled_numeric_sparse, time_numeric_array], format='csr')
gc.collect()

# 7. Save final matrix
save_npz("X_final_sparse.npz", X_final_sparse)

# 8. Optional cleanup
del X_final_sparse, encoded_sparse, scaled_numeric_sparse, time_numeric_array
gc.collect()

0

In [13]:
from scipy.sparse import load_npz

X_final_sparse = load_npz("X_final_sparse.npz")
print(X_final_sparse.shape)  # Just to confirm it loaded correctly

(23889295, 55)

In [14]:

X_final_sparse = load_npz("X_final_sparse.npz")
print(X_final_sparse.shape)  # Just to confirm it loaded correctly

(23889295, 55)

In [15]:
import pandas as pd

# Load a few rows only (e.g., first 5)
sample_dense = X_final_sparse[:100].toarray()

# If you saved the encoder earlier:
# encoder.get_feature_names_out(categorical_cols) + numeric column names
# Otherwise, use placeholder column names:
column_names = [f'col_{i}' for i in range(sample_dense.shape[1])]

# Convert to DataFrame
sample_df = pd.DataFrame(sample_dense, columns=column_names)

# View it
display(sample_df.head())

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54
0,1.051280,0.807948,-0.006592,-0.007599,-0.177028,-0.174803,-0.145909,-0.177275,-0.645095,-0.131995,...,-0.396645,-0.477188,0.0,0.0,-0.198200,-0.170918,13.0,5.0,0.0,9.0
1,-0.601897,-0.783763,-0.006592,-0.007599,-0.177028,-0.174803,-0.145909,-0.177275,-0.645095,-0.131995,...,-0.396645,-0.105677,0.0,0.0,-1.531006,-0.297478,6.0,1.0,3.0,9.0
2,-0.564680,0.593981,-0.006591,-0.007598,-0.177028,-0.174803,-0.145909,-0.177275,-0.645095,-0.131995,...,-0.396645,-0.429111,0.0,0.0,-0.198200,-0.107638,11.0,5.0,0.0,9.0
3,-0.156095,0.855898,-0.005609,-0.006353,-0.177028,-0.174803,-0.145909,6.697393,-0.645095,-0.131995,...,-0.396645,-0.536193,0.0,0.0,-1.531006,-0.170918,0.0,1.0,3.0,9.0
4,2.029792,1.921241,-0.006554,-0.007551,-0.177028,-0.174803,-0.145909,-0.177275,-0.645095,-0.131995,...,-0.396645,-0.500353,0.0,0.0,1.467807,-1.816199,5.0,10.0,5.0,9.0

# Save the dataframe

In [17]:
# Assuming X and y are your DataFrames
X.to_csv('X_data.csv', index=False)
y.to_csv('y_data.csv', index=False)

In [20]:
import pandas as pd

# Define time columns
excluded_time_cols = ['hour', 'day', 'weekday', 'month']

# Step 1: Define categorical columns
categorical_cols = [col for col in X.select_dtypes(include='object') if col not in excluded_time_cols]

# Step 2: Define numeric columns (excluding time-related ones)
numeric_cols = [col for col in X.select_dtypes(include=['int64', 'float64']) if col not in excluded_time_cols]
numeric_X = X[numeric_cols]

# Step 3: Define time_numeric DataFrame
time_cols = [col for col in excluded_time_cols if col in X.columns]
time_numeric = X[time_cols]

# Step 4: Get feature names
encoded_feature_names = encoder.get_feature_names_out(categorical_cols)
all_feature_names = list(encoded_feature_names) + list(numeric_X.columns) + list(time_numeric.columns)

# Convert the sparse matrix to dense
X_dense = X_final_sparse.toarray()

# Create DataFrame and save
X_sparse_df = pd.DataFrame(X_dense, columns=all_feature_names)
X_sparse_df.to_csv('X_final_sparse.csv', index=False)

OSError: [Errno 28] No space left on device