In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# (My Code from ITMD 522 - HW#2)

# import pandas as pd.
import pandas as pd
import numpy as np
from pathlib import Path

# Folder path: '/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset'
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset')  

# Read the excel file and specific 'Data' spreadsheet from CSV file. Get all CSV files in the folder.
# pandas.read_csv(filepath_or_buffer, *, sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=<no_default>, skip_blank_lines=True, parse_dates=None, infer_datetime_format=<no_default>, keep_date_col=<no_default>, date_parser=<no_default>, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=<no_default>, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=<no_default>)
# csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]
csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]

# To assign names for each datafile as a dataframe.
for file in csv_files:
    var_name = file.stem.replace(" ", "_").replace("-", "_")
    globals()[var_name] = pd.read_csv(file)
    print(f"Loaded: {var_name} (shape: {globals()[var_name].shape})")

Loaded: HI_Small_Trans (shape: (5078345, 11))
Loaded: LI_Small_Trans (shape: (6924049, 11))

# HI_Small_Trans dataset.

In [3]:
LI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

# LI_Small_Trans dataset.

In [4]:
HI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

# Merge two dataset.

In [5]:
merged_Small_df = pd.concat([LI_Small_Trans, HI_Small_Trans], ignore_index=True)
display(merged_Small_df)
display(merged_Small_df.info())
display(merged_Small_df.nunique())
value_counts = merged_Small_df['Is Laundering'].value_counts()
print(value_counts)

merged_Small_df = merged_Small_df[merged_Small_df['Receiving Currency'] == 'UK Pound']
merged_Small_df

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
12002389,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,1.549780e-01,Bitcoin,1.549780e-01,Bitcoin,Bitcoin,0
12002390,2022/09/10 23:35,15,8148A8671,256398,8148A8711,1.081280e-01,Bitcoin,1.081280e-01,Bitcoin,Bitcoin,0
12002391,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,4.988000e-03,Bitcoin,4.988000e-03,Bitcoin,Bitcoin,0
12002392,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,3.841700e-02,Bitcoin,3.841700e-02,Bitcoin,Bitcoin,0
12002393,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,2.819830e-01,Bitcoin,2.819830e-01,Bitcoin,Bitcoin,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12002394 entries, 0 to 12002393
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 1007.3+ MB

None

Timestamp               15133
From Bank               57222
Account               1166980
To Bank                 33608
Account.1              988911
Amount Received       1835635
Receiving Currency         15
Amount Paid           1850741
Payment Currency           15
Payment Format              7
Is Laundering               2
dtype: int64

0    11993652
1        8742
Name: Is Laundering, dtype: int64

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
12948,2022/09/01 00:17,1439,8014545C0,1439,8014545C0,14.52,UK Pound,18.76,US Dollar,ACH,0
12949,2022/09/01 00:17,1439,8014545C0,133936,815FF9670,14.52,UK Pound,14.52,UK Pound,Credit Card,0
60425,2022/09/01 00:16,13210,809570DE0,13210,809570DE0,35.10,UK Pound,45.34,US Dollar,ACH,0
60426,2022/09/01 00:16,13210,809570DE0,35358,80CF6C5E0,35.10,UK Pound,35.10,UK Pound,Credit Card,0
63557,2022/09/01 00:17,18903,809F0F740,18903,809F0F740,70.29,UK Pound,90.80,US Dollar,ACH,0
...,...,...,...,...,...,...,...,...,...,...,...
12001610,2022/09/10 23:30,26,808B34470,121580,8138107B0,434.16,UK Pound,434.16,UK Pound,Credit Card,0
12001611,2022/09/10 23:45,21568,8089D7850,21884,8138145E0,19098.02,UK Pound,19098.02,UK Pound,Cheque,0
12001612,2022/09/10 23:52,23700,81381D5A0,23700,8138E9020,124.80,UK Pound,124.80,UK Pound,Cheque,0
12001613,2022/09/10 23:33,23700,81381D5A0,23700,8138E9020,19.01,UK Pound,19.01,UK Pound,Credit Card,0
12001614,2022/09/10 23:36,23700,81381D5A0,23700,8138E9020,20.54,UK Pound,20.54,UK Pound,ACH,0

# X independent and Y dependent variable.

In [6]:
# Define a function to extract last 4 characters from account (as string)
def last_4_digits(val):
    if pd.isna(val):
        return 'UNK'  # For missing values
    return str(val)[-4:]

# Apply it to high-cardinality object columns
merged_Small_df['Account_Grouped'] = merged_Small_df['Account'].apply(last_4_digits)
merged_Small_df['Account1_Grouped'] = merged_Small_df['Account.1'].apply(last_4_digits)

X = merged_Small_df.drop(columns='Is Laundering')
y = merged_Small_df['Is Laundering']

print("X:\n")
display(X)

print("Y:\n")
display(y)

X:

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Account_Grouped,Account1_Grouped
12948,2022/09/01 00:17,1439,8014545C0,1439,8014545C0,14.52,UK Pound,18.76,US Dollar,ACH,45C0,45C0
12949,2022/09/01 00:17,1439,8014545C0,133936,815FF9670,14.52,UK Pound,14.52,UK Pound,Credit Card,45C0,9670
60425,2022/09/01 00:16,13210,809570DE0,13210,809570DE0,35.10,UK Pound,45.34,US Dollar,ACH,0DE0,0DE0
60426,2022/09/01 00:16,13210,809570DE0,35358,80CF6C5E0,35.10,UK Pound,35.10,UK Pound,Credit Card,0DE0,C5E0
63557,2022/09/01 00:17,18903,809F0F740,18903,809F0F740,70.29,UK Pound,90.80,US Dollar,ACH,F740,F740
...,...,...,...,...,...,...,...,...,...,...,...,...
12001610,2022/09/10 23:30,26,808B34470,121580,8138107B0,434.16,UK Pound,434.16,UK Pound,Credit Card,4470,07B0
12001611,2022/09/10 23:45,21568,8089D7850,21884,8138145E0,19098.02,UK Pound,19098.02,UK Pound,Cheque,7850,45E0
12001612,2022/09/10 23:52,23700,81381D5A0,23700,8138E9020,124.80,UK Pound,124.80,UK Pound,Cheque,D5A0,9020
12001613,2022/09/10 23:33,23700,81381D5A0,23700,8138E9020,19.01,UK Pound,19.01,UK Pound,Credit Card,D5A0,9020
12001614,2022/09/10 23:36,23700,81381D5A0,23700,8138E9020,20.54,UK Pound,20.54,UK Pound,ACH,D5A0,9020

Y:

12948       0
12949       0
60425       0
60426       0
63557       0
           ..
12001610    0
12001611    0
12001612    0
12001613    0
12001614    0
Name: Is Laundering, Length: 279255, dtype: int64

# Things I did for X.

- Convert Timestamp into columns like i.e., {hour, day, weekday, and month}.
- For Account_Grouped and Account1_Grouped columns,
    - Extract first two letters (if present)
    - Collect the digits at the end (whatever part is numeric)

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import re

# Drop redundant columns
X = X.drop(columns=['Account', 'Account.1'])

# Convert string to datetime
X['timestamp_column_name'] = pd.to_datetime(X['Timestamp'])

# Extract datetime features
X['hour'] = X['timestamp_column_name'].dt.hour
X['day'] = X['timestamp_column_name'].dt.day
X['weekday'] = X['timestamp_column_name'].dt.weekday
X['month'] = X['timestamp_column_name'].dt.month

X = X.drop(['Timestamp'], axis=1)

# One-hot encode selected categorical columns
categorical_cols = ['Receiving Currency', 'Payment Currency', 'Payment Format']

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_array = encoder.fit_transform(X[categorical_cols])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_cols),
    index=X.index
)

X = pd.concat([X.drop(columns=categorical_cols), encoded_df], axis=1)

def fast_encode_account_grouped(df, column_name, prefix):
    col = df[column_name].astype(str).str.strip()

    # Extract first two letters
    letters = col.str.extract(r'([A-Za-z])?([A-Za-z])?')
    digits = col.str.extract(r'(\d+)')

    l1 = letters[0].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    l2 = letters[1].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    num = digits[0].fillna(-1).astype(int)

    return pd.DataFrame({
        f'{prefix}_L1': l1,
        f'{prefix}_L2': l2,
        f'{prefix}_Num': num
    }, index=df.index)

# Apply vectorized encoding
X = pd.concat([
    X,
    fast_encode_account_grouped(X, 'Account_Grouped', 'AG'),
    fast_encode_account_grouped(X, 'Account1_Grouped', 'AG1')
], axis=1)

X.drop(columns=['Account_Grouped', 'Account1_Grouped'], inplace=True)
X

/usr/local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,From Bank,To Bank,Amount Received,Amount Paid,timestamp_column_name,hour,day,weekday,month,Receiving Currency_UK Pound,...,Payment Format_Cheque,Payment Format_Credit Card,Payment Format_Reinvestment,Payment Format_Wire,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num
12948,1439,1439,14.52,18.76,2022-09-01 00:17:00,0,1,3,9,1.0,...,0.0,0.0,0.0,0.0,-1,-1,45,-1,-1,45
12949,1439,133936,14.52,14.52,2022-09-01 00:17:00,0,1,3,9,1.0,...,0.0,1.0,0.0,0.0,-1,-1,45,-1,-1,9670
60425,13210,13210,35.10,45.34,2022-09-01 00:16:00,0,1,3,9,1.0,...,0.0,0.0,0.0,0.0,-1,-1,0,-1,-1,0
60426,13210,35358,35.10,35.10,2022-09-01 00:16:00,0,1,3,9,1.0,...,0.0,1.0,0.0,0.0,-1,-1,0,2,-1,5
63557,18903,18903,70.29,90.80,2022-09-01 00:17:00,0,1,3,9,1.0,...,0.0,0.0,0.0,0.0,5,-1,740,5,-1,740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001610,26,121580,434.16,434.16,2022-09-10 23:30:00,23,10,5,9,1.0,...,0.0,1.0,0.0,0.0,-1,-1,4470,-1,-1,7
12001611,21568,21884,19098.02,19098.02,2022-09-10 23:45:00,23,10,5,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,7850,-1,-1,45
12001612,23700,23700,124.80,124.80,2022-09-10 23:52:00,23,10,5,9,1.0,...,1.0,0.0,0.0,0.0,3,-1,5,-1,-1,9020
12001613,23700,23700,19.01,19.01,2022-09-10 23:33:00,23,10,5,9,1.0,...,0.0,1.0,0.0,0.0,3,-1,5,-1,-1,9020
12001614,23700,23700,20.54,20.54,2022-09-10 23:36:00,23,10,5,9,1.0,...,0.0,0.0,0.0,0.0,3,-1,5,-1,-1,9020

In [8]:
y

12948       0
12949       0
60425       0
60426       0
63557       0
           ..
12001610    0
12001611    0
12001612    0
12001613    0
12001614    0
Name: Is Laundering, Length: 279255, dtype: int64

# Now, Oversample (SMOTE) and Undersample Majority Class.

- We will get new balanced data -- X and y.

In [9]:
# Identify datetime columns
datetime_cols = X.select_dtypes(include=['datetime64']).columns
print(datetime_cols)

# Convert them into numeric features (like year, month, etc.)
for col in datetime_cols:
    X[f'{col}_year'] = X[col].dt.year
    X[f'{col}_month'] = X[col].dt.month
    X[f'{col}_day'] = X[col].dt.day
    X[f'{col}_minute'] = X[col].dt.minute
    # drop original datetime column
    X.drop(columns=col, inplace=True)
    
X

Index(['timestamp_column_name'], dtype='object')

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_UK Pound,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
12948,1439,1439,14.52,18.76,0,1,3,9,1.0,0.0,...,-1,-1,45,-1,-1,45,2022,9,1,17
12949,1439,133936,14.52,14.52,0,1,3,9,1.0,0.0,...,-1,-1,45,-1,-1,9670,2022,9,1,17
60425,13210,13210,35.10,45.34,0,1,3,9,1.0,0.0,...,-1,-1,0,-1,-1,0,2022,9,1,16
60426,13210,35358,35.10,35.10,0,1,3,9,1.0,0.0,...,-1,-1,0,2,-1,5,2022,9,1,16
63557,18903,18903,70.29,90.80,0,1,3,9,1.0,0.0,...,5,-1,740,5,-1,740,2022,9,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001610,26,121580,434.16,434.16,23,10,5,9,1.0,0.0,...,-1,-1,4470,-1,-1,7,2022,9,10,30
12001611,21568,21884,19098.02,19098.02,23,10,5,9,1.0,0.0,...,-1,-1,7850,-1,-1,45,2022,9,10,45
12001612,23700,23700,124.80,124.80,23,10,5,9,1.0,0.0,...,3,-1,5,-1,-1,9020,2022,9,10,52
12001613,23700,23700,19.01,19.01,23,10,5,9,1.0,0.0,...,3,-1,5,-1,-1,9020,2022,9,10,33
12001614,23700,23700,20.54,20.54,23,10,5,9,1.0,0.0,...,3,-1,5,-1,-1,9020,2022,9,10,36

In [10]:
print(X.dtypes)

# Normalization on X
# y is already normalized.
from sklearn.preprocessing import MinMaxScaler

original_columns = X.columns

scaler = MinMaxScaler()
X = scaler.fit_transform(X)  # Returns a NumPy array

# Optionally convert back to DataFrame (to keep column names)
X = pd.DataFrame(X, columns=original_columns)

X

From Bank                               int64
To Bank                                 int64
Amount Received                       float64
Amount Paid                           float64
hour                                    int64
day                                     int64
weekday                                 int64
month                                   int64
Receiving Currency_UK Pound           float64
Payment Currency_Australian Dollar    float64
Payment Currency_Bitcoin              float64
Payment Currency_Brazil Real          float64
Payment Currency_Canadian Dollar      float64
Payment Currency_Euro                 float64
Payment Currency_Mexican Peso         float64
Payment Currency_Ruble                float64
Payment Currency_Rupee                float64
Payment Currency_Saudi Riyal          float64
Payment Currency_Shekel               float64
Payment Currency_Swiss Franc          float64
Payment Currency_UK Pound             float64
Payment Currency_US Dollar            float64
Payment Currency_Yen                  float64
Payment Currency_Yuan                 float64
Payment Format_ACH                    float64
Payment Format_Bitcoin                float64
Payment Format_Cash                   float64
Payment Format_Cheque                 float64
Payment Format_Credit Card            float64
Payment Format_Reinvestment           float64
Payment Format_Wire                   float64
AG_L1                                   int64
AG_L2                                   int64
AG_Num                                  int64
AG1_L1                                  int64
AG1_L2                                  int64
AG1_Num                                 int64
timestamp_column_name_year              int64
timestamp_column_name_month             int64
timestamp_column_name_day               int64
timestamp_column_name_minute            int64
dtype: object

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_UK Pound,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.003841,0.003841,1.038160e-08,1.342225e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.004505,0.0,0.0,0.004505,0.0,0.0,0.0000,0.288136
1,0.003841,0.357506,1.038160e-08,1.038862e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.004505,0.0,0.0,0.967968,0.0,0.0,0.0000,0.288136
2,0.035261,0.035261,2.510616e-08,3.243969e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0000,0.271186
3,0.035261,0.094379,2.510616e-08,2.511318e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.5,0.0,0.000501,0.0,0.0,0.0000,0.271186
4,0.050456,0.050456,5.028386e-08,6.496536e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,1.000000,0.0,0.074074,1.0,0.0,0.074074,0.0,0.0,0.0000,0.288136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279250,0.000069,0.324525,3.106252e-07,3.106322e-07,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.0,0.447447,0.0,0.0,0.000701,0.0,0.0,0.5625,0.508475
279251,0.057570,0.058413,1.366423e-05,1.366423e-05,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.0,0.785786,0.0,0.0,0.004505,0.0,0.0,0.5625,0.762712
279252,0.063261,0.063261,8.928462e-08,8.929165e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.881356
279253,0.063261,0.063261,1.359410e-08,1.360112e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.559322
279254,0.063261,0.063261,1.468878e-08,1.469581e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.610169

# Split the dataset.

In [11]:
from sklearn.model_selection import train_test_split

y = y.reset_index(drop=True)

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
# sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
# Example: X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, # X scalered data.
                                                    y, # y
                                                    test_size=0.25, # test_size : float or int, default=None
                                                    random_state=42, # random_state : int, RandomState instance or None, default=None
                                                    shuffle=True, # shuffle : bool, default=True
                                                    stratify=y) # stratify : array-like, default=None

# Sort the index of X_train
X_train = X_train.sort_index()

# Sort the index of X_test
X_test = X_test.sort_index()

# Sort the index of y_train
y_train = y_train.sort_index()

# Sort the index of y_test
y_test = y_test.sort_index()

In [12]:
# Show the training dataset. X_train and y_train.
display("The predict_cols_scaled_df_X_train dataset: \n", X_train)
# y_train
display("\n\nThe predict_cols_scaled_df_y_train dataset: \n", y_train)
y_train.value_counts()

'The predict_cols_scaled_df_X_train dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_UK Pound,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.003841,0.003841,1.038160e-08,1.342225e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.004505,0.0,0.0,0.004505,0.0,0.0,0.0000,0.288136
1,0.003841,0.357506,1.038160e-08,1.038862e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.004505,0.0,0.0,0.967968,0.0,0.0,0.0000,0.288136
3,0.035261,0.094379,2.510616e-08,2.511318e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.5,0.0,0.000501,0.0,0.0,0.0000,0.271186
4,0.050456,0.050456,5.028386e-08,6.496536e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,1.000000,0.0,0.074074,1.0,0.0,0.074074,0.0,0.0,0.0000,0.288136
6,0.035645,0.035645,9.950882e-08,1.285357e-07,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.000300,0.0,0.0,0.000300,0.0,0.0,0.0000,0.033898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279247,0.588757,0.062730,1.197211e-06,1.197218e-06,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.048048,0.0,0.0,0.000801,0.0,0.0,0.5625,0.898305
279249,0.000069,0.324525,7.211027e-07,7.211097e-07,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.0,0.447447,0.0,0.0,0.000701,0.0,0.0,0.5625,0.711864
279252,0.063261,0.063261,8.928462e-08,8.929165e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.881356
279253,0.063261,0.063261,1.359410e-08,1.360112e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.559322
279254,0.063261,0.063261,1.468878e-08,1.469581e-08,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.0,0.000501,0.0,0.0,0.902903,0.0,0.0,0.5625,0.610169

'\n\nThe predict_cols_scaled_df_y_train dataset: \n'

0         0
1         0
3         0
4         0
6         0
         ..
279247    0
279249    0
279252    0
279253    0
279254    0
Name: Is Laundering, Length: 209441, dtype: int64

0    209312
1       129
Name: Is Laundering, dtype: int64

In [13]:
# Show the testing dataset. X_test and y_test.
display("The predict_cols_scaled_df_X_test dataset: \n", X_test)
# y_test
display("\n\nThe predict_cols_scaled_df_y_test dataset: \n", y_test)
y_test.value_counts()

'The predict_cols_scaled_df_X_test dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_UK Pound,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
2,0.035261,0.035261,2.510616e-08,3.243969e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0000,0.271186
5,0.050456,0.356000,5.028386e-08,5.029089e-08,0.0,0.0000,0.500000,0.0,0.0,0.0,...,1.000000,0.000000,0.074074,0.000000,0.0,0.000100,0.0,0.0,0.0000,0.288136
9,0.056222,0.000064,2.289533e-09,2.296556e-09,0.0,0.0000,0.500000,0.0,0.0,0.0,...,1.000000,0.666667,0.000000,0.000000,0.0,0.000601,0.0,0.0,0.0000,0.152542
10,0.893823,0.893823,2.624284e-06,2.624291e-06,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.002903,0.000000,0.0,0.002903,0.0,0.0,0.0000,0.118644
13,0.890975,0.890975,3.898853e-06,3.898860e-06,0.0,0.0000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.689690,0.000000,0.0,0.689690,0.0,0.0,0.0000,0.305085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279237,0.057570,0.000069,1.076774e-06,1.076781e-06,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.666667,0.833333,0.000000,0.000000,0.0,0.000701,0.0,0.0,0.5625,0.661017
279245,0.591942,0.063189,1.294523e-06,1.294530e-06,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.614615,0.000000,0.0,0.006106,0.0,0.0,0.5625,0.779661
279248,0.062164,0.332452,1.286496e-05,1.286496e-05,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000501,0.666667,0.0,0.091091,0.0,0.0,0.5625,0.711864
279250,0.000069,0.324525,3.106252e-07,3.106322e-07,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.447447,0.000000,0.0,0.000701,0.0,0.0,0.5625,0.508475
279251,0.057570,0.058413,1.366423e-05,1.366423e-05,1.0,0.5625,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.785786,0.000000,0.0,0.004505,0.0,0.0,0.5625,0.762712

'\n\nThe predict_cols_scaled_df_y_test dataset: \n'

2         0
5         0
9         0
10        0
13        0
         ..
279237    0
279245    0
279248    0
279250    0
279251    0
Name: Is Laundering, Length: 69814, dtype: int64

0    69771
1       43
Name: Is Laundering, dtype: int64

# Balance the train dataset.

In [14]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from sklearn.utils import shuffle
from joblib import Parallel, delayed
import numpy as np
import pandas as pd

# Create a valid SMOTEENN instance with actual SMOTE
def create_smoteenn():
    return SMOTEENN(
        sampling_strategy='auto',
        random_state=42,
        smote=SMOTE(k_neighbors=3, n_jobs=-1),
        enn=EditedNearestNeighbours(n_neighbors=3, n_jobs=-1),
        n_jobs=-1
    )

# Process one batch safely
def process_batch(X_batch, y_batch, i):
    try:
        sme = create_smoteenn()
        X_res, y_res = sme.fit_resample(X_batch, y_batch)
        print(f"Batch {i+1} done")
        return X_res, y_res
    except Exception as e:
        print(f"Skipping batch {i+1}: {e}")
        return None

# Main function: parallel + SMOTEENN
def batchwise_smoteenn_fast(X, y, batch_size=200000, n_jobs=-1):
    # Optional shuffle to randomize order
    X, y = shuffle(X, y, random_state=42)

    # Convert to NumPy for slicing
    X_np = X.values if isinstance(X, pd.DataFrame) else X
    y_np = y.values if isinstance(y, pd.Series) else y

    num_rows = len(X_np)
    num_batches = (num_rows + batch_size - 1) // batch_size

    # Prepare batches
    batches = [
        (X_np[i * batch_size : min((i + 1) * batch_size, num_rows)],
         y_np[i * batch_size : min((i + 1) * batch_size, num_rows)], i)
        for i in range(num_batches)
    ]

    print(f"Starting parallel processing with {num_batches} batches...")

    # Run in parallel
    results = Parallel(n_jobs=n_jobs)(
        delayed(process_batch)(*args) for args in batches
    )

    # Filter out failed batches
    X_resampled_list = [r[0] for r in results if r is not None]
    y_resampled_list = [r[1] for r in results if r is not None]

    if not X_resampled_list:
        raise ValueError("All batches failed. Nothing to concatenate.")

    # Combine
    X_final = np.vstack(X_resampled_list)
    y_final = np.hstack(y_resampled_list)

    # Convert back to DataFrame/Series if needed
    if isinstance(X, pd.DataFrame):
        X_final = pd.DataFrame(X_final, columns=X.columns)
    if isinstance(y, pd.Series):
        y_final = pd.Series(y_final, name=y.name)

    print("All batches processed and combined.")
    return X_final, y_final

X_train, y_train = batchwise_smoteenn_fast(X_train, y_train, batch_size=200000, n_jobs=4)

X_train

Starting parallel processing with 2 batches...

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

Batch 2 done
All batches processed and combined.

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_UK Pound,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.000019,0.000019,9.594573e-09,9.601597e-09,0.000000,0.000000,0.500000,0.0,0.0,0.0,...,0.833333,0.500000,0.000000,0.833333,0.500000,0.000000,0.0,0.0,0.000000,0.016949
1,0.000187,0.588674,3.466496e-08,3.467198e-08,0.826087,0.500000,0.666667,0.0,0.0,0.0,...,0.000000,0.000000,0.881882,0.000000,0.000000,0.000300,0.0,0.0,0.500000,0.796610
2,0.588757,0.054682,3.244411e-07,3.244481e-07,0.652174,0.375000,0.333333,0.0,0.0,0.0,...,0.000000,0.000000,0.000200,0.000000,0.000000,0.325325,0.0,0.0,0.375000,0.813559
3,0.000067,0.621549,3.211427e-07,3.211498e-07,0.347826,0.500000,0.666667,0.0,0.0,0.0,...,0.000000,0.000000,0.000300,0.000000,0.000000,0.000801,0.0,0.0,0.500000,0.389831
4,0.000077,0.000067,1.024852e-07,1.024922e-07,0.739130,0.312500,0.166667,0.0,0.0,0.0,...,0.000000,0.000000,0.000300,0.000000,0.000000,0.559560,0.0,0.0,0.312500,0.711864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418606,0.024929,0.058718,3.650995e-06,3.651002e-06,0.455265,0.348657,0.263086,0.0,0.0,0.0,...,0.070248,0.421486,0.513556,0.351238,0.000000,0.004112,0.0,0.0,0.348657,0.418266
418607,0.000187,0.034589,1.032763e-06,1.032770e-06,0.583124,0.426481,0.470615,0.0,0.0,0.0,...,0.000000,0.000000,0.881882,0.000000,0.000000,0.004221,0.0,0.0,0.426481,0.309031
418608,0.000187,0.514765,2.783437e-06,2.783444e-06,0.356683,0.500000,0.666667,0.0,0.0,0.0,...,0.276013,0.000000,0.218787,0.414020,0.552027,0.000017,0.0,0.0,0.500000,0.126311
418609,0.000187,0.074116,1.599581e-06,1.599588e-06,0.557943,0.378486,0.342628,0.0,0.0,0.0,...,0.009295,0.000000,0.859552,0.013942,0.018590,0.006909,0.0,0.0,0.378486,0.515026
418610,0.000187,0.457764,2.077366e-04,2.077366e-04,0.411598,0.365099,0.666667,0.0,0.0,0.0,...,0.333333,0.000000,0.081081,0.602782,0.461103,0.000278,0.0,0.0,0.365099,0.115959

In [15]:
display(y_train)
y_train.value_counts()

0         0
1         0
2         0
3         0
4         0
         ..
418606    1
418607    1
418608    1
418609    1
418610    1
Name: Is Laundering, Length: 418611, dtype: int64

0    209312
1    209299
Name: Is Laundering, dtype: int64

# Compute the weight to y_train as we already balanced it in the earlier code.

In [16]:
from sklearn.utils.class_weight import compute_class_weight

# numpy.ravel(a, order='C') : Return a contiguous flattened array.
# A 1-D array, containing the elements of the input, is returned. A copy is made only if needed.
y_train = y_train.values.ravel()

# https://scikit-learn.org/stable/modules/generated/sklearn.utils.class_weight.compute_class_weight.html
# sklearn.utils.class_weight.compute_class_weight(class_weight, *, classes, y)
# Returns: class_weight_vect : ndarray of shape (n_classes,) : Array with class_weight_vect[i] the weight for i-th class.
temp_compute_class_weight = compute_class_weight(class_weight="balanced", # class_weight : dict, “balanced” or None
                                                 classes=np.unique(y_train), # classes : ndarray
                                                 y=y_train) # y : array-like of shape (n_samples,)

# Classification and weighting.
tempResClassWeight = {tempIdx: tempData1 for tempIdx, tempData1 in zip(np.unique(y_train, 
                                                                                 return_index=False, 
                                                                                 return_inverse=False, 
                                                                                 return_counts=False, 
                                                                                 axis=None, 
                                                                                 equal_nan=True), 
                                                                      temp_compute_class_weight)}

# Show weight.
tempResClassWeight

{0: 0.9999689458798349, 1: 1.0000310560490018}

# So, now, Data Processing work over. It's the most important step. Otherwise, we won't get best results. Now, off to 5 models to test.

In [17]:
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, roc_auc_score

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.htmls
# sklearn.metrics.make_scorer(score_func, *, response_method='default', greater_is_better=True, **kwargs)
# Make a scorer from a performance metric or loss function.
# A scorer is a wrapper around an arbitrary metric or loss function that is called with the signature scorer(estimator, X, y_true, **kwargs).
# It is accepted in all scikit-learn estimators or functions allowing a scoring parameter.
# The parameter response_method allows to specify which method of the estimator should be used to feed the scoring/loss function.
# response_method{“predict_proba”, “decision_function”, “predict”} or list/tuple of such str, default=None
# metrics_score_list = {
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
#     'accuracy_score' : make_scorer(accuracy_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
#     'precision_score' : make_scorer(precision_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
#     'recall_scores' : make_scorer(recall_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
#     'roc_auc_score' : make_scorer(roc_auc_score),
# }

metrics_score_list = ['accuracy', # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
                      'precision', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
                      'recall', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
                      'roc_auc',
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html
                     'f1']

# Model-1: Neural Network (AUC ROC + Accurcay + F1)

In [22]:
from tensorflow.keras.models import Sequential
from scikeras.wrappers import KerasClassifier
from tensorflow.keras.layers import Dense, Dropout
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score, f1_score, precision_score, recall_score

# https://www.tensorflow.org/guide/keras/sequential_model
# https://keras.io/guides/sequential_model/
# https://faroit.com/keras-docs/1.0.1/getting-started/sequential-model-guide/
# https://adriangb.com/scikeras/stable/generated/scikeras.wrappers.KerasClassifier.html
# class scikeras.wrappers.KerasClassifier(model=None, *, build_fn=None, warm_start=False, random_state=None, optimizer='rmsprop', loss=None, metrics=None, batch_size=None, validation_batch_size=None, verbose=1, callbacks=None, validation_split=0.0, shuffle=True, run_eagerly=False, epochs=1, class_weight=None, **kwargs)
# You can also create a Sequential model incrementally via the add() method:
# model = keras.Sequential()
# model.add(layers.Dense(2, activation="relu"))
# model.add(layers.Dense(3, activation="relu"))
# model.add(layers.Dense(4))
def create_model(learning_rate=0.001):
    model = keras.Sequential()
    model.add(keras.layers.Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(16, activation='relu'))
    model.add(keras.layers.Dense(1, activation='sigmoid'))  # Binary classification
    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )
    return model

clf_NuN = KerasClassifier(model=create_model, 
                      verbose=0)

# estimator details for LogisticRegressions.
# https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
# https://machinelearningmastery.com/grid-search-hyperparameters-deep-learning-models-python-keras/
pipeline_NuN = Pipeline([
    ('clf_NuN', 
     clf_NuN) # LogisticRegression
])

# Inverse of regularization strength; must be a positive float.
# C : float, default=1.0
# param_grid : dict or list of dictionaries
param_grid = {
    'clf__model__learning_rate': [0.001, 
                                  0.01],
    'clf__batch_size': [16, 
                        32],
    'clf__epochs': [10, 
                    20]
}

# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
# class sklearn.model_selection.GridSearchCV(estimator, param_grid, *, scoring=None, n_jobs=None, refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score=nan, return_train_score=False)
# clf_NuN_grid_search = GridSearchCV(estimator=pipeline,
#                                    param_grid=param_grid,
#                                    cv=3,
#                                    verbose=1,
#                                    error_score='raise'
#                                 )

clf_NuN_grid_search = GridSearchCV(estimator=pipeline,
                                   param_grid=param_grid, 
                                   scoring=metrics_score_list, 
                                   cv=10, 
                                   n_jobs=-1,
                                   refit=False, 
                                   verbose=1, 
                                   pre_dispatch='2*n_jobs', 
                                   return_train_score=False)

# fit(X, y=None, **params)
clf_NuN_grid_search.fit(X_train, # X
                       y_train) # y

# cv_results_dict of numpy (masked) ndarrays : A dict with keys as column headers and values as columns, that can be imported into a pandas DataFrame.
tempResCV = clf_NuN_grid_search.cv_results_
print("\n The clf_NuN_grid_search's results are: \n", clf_NuN_grid_search.cv_results_)

# AOC-RUC
print("\n\n****************************************************************************************")
print("\nBASED ON LOGISTIC REGRESSION CLASSIFIER's BEST AUC-ROC PARAMETER:")
tempo_mapping_roc_auc = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_roc_auc'].argmax()]
print(f"\nThe Best Parameters for AUC-ROC:\n {tempo_mapping_roc_auc}")

tempo_mapping_roc_auc_fixed = {
    key.replace("clf__", "clf_NuN__"): val for key, val in tempo_mapping_roc_auc.items()
}
tempo_mapping_roc_auc_model = pipeline_NuN.set_params(**tempo_mapping_roc_auc_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_roc_auc_model.predict(X_test)
tempYPred_probability = tempo_mapping_roc_auc_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# ACCURACY
print("\n\n****************************************************************************************")
print("\nBASED ON RLOGISTIC REGRESSION CLASSIFIER's BEST ACCURACY PARAMETER:")
tempo_mapping_accuracy = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_accuracy'].argmax()]
print(f"\nThe Best Parameters for ACCURACY:\n {tempo_mapping_accuracy}")

tempo_mapping_accuracy_fixed = {
    key.replace("clf__", "clf_NuN__"): val for key, val in tempo_mapping_accuracy.items()
}

tempo_mapping_accuracy_model = pipeline_NuN.set_params(**tempo_mapping_accuracy_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_accuracy_model.predict(X_test)
tempYPred_probability = tempo_mapping_accuracy_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# F1
print("\n\n****************************************************************************************")
print("\nBASED ON LOGISTIC REGRESSION CLASSIFIER's BEST F-1 PARAMETER:")
tempo_mapping_f1 = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_f1'].argmax()]
print(f"\nThe Best Parameters for F1:\n {tempo_mapping_f1}")

tempo_mapping_f1_fixed = {
    key.replace("clf__", "clf_NuN__"): val for key, val in tempo_mapping_f1.items()
}
tempo_mapping_f1_model = pipeline_NuN.set_params(**tempo_mapping_f1_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_f1_model.predict(X_test)
tempYPred_probability = tempo_mapping_f1_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\n[TEST DATA] The AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")

Fitting 10 folds for each of 8 candidates, totalling 80 fits

 The clf_NuN_grid_search's results are:
 {'mean_fit_time': array([13.89231071, 12.19195228, 18.2884109 , 17.50800626,  9.49656665,
        9.89809992, 11.45378165, 12.49527435]), 'std_fit_time': array([1.19043962, 0.17701284, 1.56591567, 2.03621799, 0.42513625,
       0.5263226 , 0.24967036, 0.44974588]), 'mean_score_time': array([2.05221653, 2.0298161 , 2.10482197, 1.58702891, 1.40975175,
       1.48147457, 1.50090494, 1.6270956 ]), 'std_score_time': array([0.26030338, 0.22277395, 0.70040878, 0.38236231, 0.18725213,
       0.12694652, 0.15311624, 0.29819493]), 'param_clf__batch_size': masked_array(data=[16, 16, 16, 16, 32, 32, 32, 32],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_clf__epochs': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_clf__model__learning_rate': masked_array(data=[0.001, 0.01, 0.001, 0.01, 0.001, 0.01, 0.001, 0.01],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'clf__batch_size': 16, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 16, 'clf__epochs': 10, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 16, 'clf__epochs': 20, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 16, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}], 'split0_test_accuracy': array([0.9125, 0.925 , 0.9125, 0.9375, 0.875 , 0.9625, 0.925 , 0.95  ]), 'split1_test_accuracy': array([0.925 , 0.9125, 0.9   , 0.9375, 0.8625, 0.95  , 0.9   , 0.9375]), 'split2_test_accuracy': array([0.9   , 0.9125, 0.9125, 0.925 , 0.8625, 0.9375, 0.9   , 0.925 ]), 'split3_test_accuracy': array([0.8875, 0.975 , 0.9625, 0.925 , 0.9125, 0.9   , 0.95  , 0.9125]), 'split4_test_accuracy': array([0.9   , 0.9625, 0.95  , 0.9625, 0.925 , 0.9625, 0.95  , 0.975 ]), 'split5_test_accuracy': array([0.95  , 0.9125, 0.95  , 0.925 , 0.925 , 0.925 , 0.95  , 0.95  ]), 'split6_test_accuracy': array([0.9   , 0.9125, 0.9375, 0.9375, 0.9   , 0.9625, 0.925 , 0.9875]), 'split7_test_accuracy': array([0.9375, 0.9375, 0.9625, 0.95  , 0.95  , 0.975 , 0.9875, 0.9625]), 'split8_test_accuracy': array([0.875 , 0.9375, 0.9375, 0.975 , 0.8625, 0.95  , 0.875 , 0.9625]), 'split9_test_accuracy': array([0.8625, 0.9   , 0.925 , 0.9125, 0.9   , 0.9   , 0.9125, 0.9   ]), 'mean_test_accuracy': array([0.905  , 0.92875, 0.935  , 0.93875, 0.8975 , 0.9425 , 0.9275 ,
       0.94625]), 'std_test_accuracy': array([0.02573908, 0.02308273, 0.02076656, 0.01807104, 0.02947457,
       0.02512469, 0.03102418, 0.02625   ]), 'rank_test_accuracy': array([7, 5, 4, 3, 8, 2, 6, 1], dtype=int32), 'split0_test_precision': array([0.9047619 , 0.92682927, 0.88636364, 0.90909091, 0.86046512,
       0.93181818, 0.88888889, 0.93023256]), 'split1_test_precision': array([0.97297297, 0.925     , 0.92307692, 0.97368421, 0.91666667,
       0.97435897, 0.94594595, 0.97368421]), 'split2_test_precision': array([0.88372093, 0.88636364, 0.88636364, 0.90697674, 0.85714286,
       0.90909091, 0.86666667, 0.88888889]), 'split3_test_precision': array([0.86363636, 0.95348837, 0.93181818, 0.94871795, 0.88636364,
       0.94594595, 0.93023256, 0.94736842]), 'split4_test_precision': array([0.92105263, 0.93023256, 0.92857143, 0.95121951, 0.9047619 ,
       0.95121951, 0.92857143, 0.95238095]), 'split5_test_precision': array([0.92857143, 0.92307692, 0.95      , 0.94736842, 0.9047619 ,
       0.94736842, 0.95      , 0.95      ]), 'split6_test_precision': array([0.84782609, 0.86666667, 0.90697674, 0.90697674, 0.86363636,
       0.95121951, 0.88636364, 0.97560976]), 'split7_test_precision': array([1.        , 1.        , 0.97435897, 0.97368421, 0.92857143,
       0.975     , 1.        , 1.        ]), 'split8_test_precision': array([0.91666667, 0.94871795, 0.94871795, 0.95238095, 0.91428571,
       0.92857143, 0.89473684, 0.95121951]), 'split9_test_precision': array([0.85365854, 0.9       , 0.925     , 0.92307692, 0.88095238,
       0.9       , 0.90243902, 0.9       ]), 'mean_test_precision': array([0.90928675, 0.92603754, 0.92612475, 0.93931766, 0.8917608 ,
       0.94145929, 0.9193845 , 0.94693843]), 'std_test_precision': array([0.04741264, 0.03541657, 0.02642823, 0.02469188, 0.0243629 ,
       0.02340635, 0.03746724, 0.03203509]), 'rank_test_precision': array([7, 5, 4, 3, 8, 2, 6, 1], dtype=int32), 'split0_test_recall': array([0.92682927, 0.92682927, 0.95121951, 0.97560976, 0.90243902,
       1.        , 0.97560976, 0.97560976]), 'split1_test_recall': array([0.87804878, 0.90243902, 0.87804878, 0.90243902, 0.80487805,
       0.92682927, 0.85365854, 0.90243902]), 'split2_test_recall': array([0.92682927, 0.95121951, 0.95121951, 0.95121951, 0.87804878,
       0.97560976, 0.95121951, 0.97560976]), 'split3_test_recall': array([0.92682927, 1.        , 1.        , 0.90243902, 0.95121951,
       0.85365854, 0.97560976, 0.87804878]), 'split4_test_recall': array([0.875, 1.   , 0.975, 0.975, 0.95 , 0.975, 0.975, 1.   ]), 'split5_test_recall': array([0.975, 0.9  , 0.95 , 0.9  , 0.95 , 0.9  , 0.95 , 0.95 ]), 'split6_test_recall': array([0.975, 0.975, 0.975, 0.975, 0.95 , 0.975, 0.975, 1.   ]), 'split7_test_recall': array([0.875, 0.875, 0.95 , 0.925, 0.975, 0.975, 0.975, 0.925]), 'split8_test_recall': array([0.825, 0.925, 0.925, 1.   , 0.8  , 0.975, 0.85 , 0.975]), 'split9_test_recall': array([0.875, 0.9  , 0.925, 0.9  , 0.925, 0.9  , 0.925, 0.9  ]), 'mean_test_recall': array([0.90585366, 0.93554878, 0.94804878, 0.94067073, 0.90865854,
       0.94560976, 0.94060976, 0.94817073]), 'std_test_recall': array([0.04587879, 0.0419369 , 0.03184632, 0.03699471, 0.05929564,
       0.04503518, 0.04713079, 0.04179388]), 'rank_test_recall': array([8, 6, 2, 4, 7, 3, 5, 1], dtype=int32), 'split0_test_roc_auc': array([0.96685428, 0.97748593, 0.97686054, 0.97498437, 0.95121951,
       0.99061914, 0.97060663, 0.99061914]), 'split1_test_roc_auc': array([0.98686679, 0.97873671, 0.98123827, 0.99249531, 0.96935585,
       0.99437148, 0.98248906, 0.99249531]), 'split2_test_roc_auc': array([0.97060663, 0.98186366, 0.98373984, 0.96998124, 0.93433396,
       0.98749218, 0.96747967, 0.97623515]), 'split3_test_roc_auc': array([0.96622889, 0.98936836, 0.98811757, 0.98999375, 0.96435272,
       0.98373984, 0.97998749, 0.98686679]), 'split4_test_roc_auc': array([0.94125  , 0.9575   , 0.95875  , 0.9646875, 0.93875  , 0.9578125,
       0.956875 , 0.9640625]), 'split5_test_roc_auc': array([0.978125, 0.97875 , 0.979375, 0.98375 , 0.980625, 0.97875 ,
       0.98    , 0.98125 ]), 'split6_test_roc_auc': array([0.98875 , 0.988125, 0.985   , 0.983125, 0.97625 , 0.993125,
       0.993125, 0.99875 ]), 'split7_test_roc_auc': array([0.995   , 0.9875  , 0.993125, 0.995625, 0.98625 , 0.995625,
       0.9975  , 0.996875]), 'split8_test_roc_auc': array([0.973125, 0.99    , 0.98    , 0.98875 , 0.94625 , 0.98625 ,
       0.979375, 0.97625 ]), 'split9_test_roc_auc': array([0.954375, 0.96125 , 0.968125, 0.966875, 0.96125 , 0.970625,
       0.966875, 0.976875]), 'mean_test_roc_auc': array([0.97211816, 0.97905797, 0.97943312, 0.98102672, 0.9608637 ,
       0.98384101, 0.97743129, 0.98402789]), 'std_test_roc_auc': array([0.01545042, 0.01082554, 0.00937172, 0.01059372, 0.01689841,
       0.01130972, 0.01170959, 0.01041014]), 'rank_test_roc_auc': array([7, 5, 4, 3, 8, 2, 6, 1], dtype=int32), 'split0_test_f1': array([0.91566265, 0.92682927, 0.91764706, 0.94117647, 0.88095238,
       0.96470588, 0.93023256, 0.95238095]), 'split1_test_f1': array([0.92307692, 0.91358025, 0.9       , 0.93670886, 0.85714286,
       0.95      , 0.8974359 , 0.93670886]), 'split2_test_f1': array([0.9047619 , 0.91764706, 0.91764706, 0.92857143, 0.86746988,
       0.94117647, 0.90697674, 0.93023256]), 'split3_test_f1': array([0.89411765, 0.97619048, 0.96470588, 0.925     , 0.91764706,
       0.8974359 , 0.95238095, 0.91139241]), 'split4_test_f1': array([0.8974359 , 0.96385542, 0.95121951, 0.96296296, 0.92682927,
       0.96296296, 0.95121951, 0.97560976]), 'split5_test_f1': array([0.95121951, 0.91139241, 0.95      , 0.92307692, 0.92682927,
       0.92307692, 0.95      , 0.95      ]), 'split6_test_f1': array([0.90697674, 0.91764706, 0.93975904, 0.93975904, 0.9047619 ,
       0.96296296, 0.92857143, 0.98765432]), 'split7_test_f1': array([0.93333333, 0.93333333, 0.96202532, 0.94871795, 0.95121951,
       0.975     , 0.98734177, 0.96103896]), 'split8_test_f1': array([0.86842105, 0.93670886, 0.93670886, 0.97560976, 0.85333333,
       0.95121951, 0.87179487, 0.96296296]), 'split9_test_f1': array([0.86419753, 0.9       , 0.925     , 0.91139241, 0.90243902,
       0.9       , 0.91358025, 0.9       ]), 'mean_test_f1': array([0.90592032, 0.92971841, 0.93647127, 0.93929758, 0.89886245,
       0.94285406, 0.9289534 , 0.94679808]), 'std_test_f1': array([0.02559978, 0.02272921, 0.02007997, 0.01827318, 0.03134596,
       0.02594971, 0.03142981, 0.02612413]), 'rank_test_f1': array([7, 5, 4, 3, 8, 2, 6, 1], dtype=int32)}


****************************************************************************************

BASED ON LOGISTIC REGRESSION CLASSIFIER's BEST AUC-ROC PARAMETER:

The Best Parameters for AUC-ROC:
 {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}

              precision    recall  f1-score   support

           0       0.97      0.95      0.96       106
           1       0.95      0.97      0.96        94

    accuracy                           0.96       200
   macro avg       0.96      0.96      0.96       200
weighted avg       0.96      0.96      0.96       200


The AUC-ROC Score of the best model parameters:
 0.9933

[TEST DATA] The accuracy Score of the best model parameters:
 0.9600

[TEST DATA] The F1 Score of the best model parameters:
 0.9579


****************************************************************************************

BASED ON RLOGISTIC REGRESSION CLASSIFIER's BEST ACCURACY PARAMETER:

The Best Parameters for ACCURACY:
 {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}
              precision    recall  f1-score   support

           0       0.97      0.93      0.95       106
           1       0.93      0.97      0.95        94

    accuracy                           0.95       200
   macro avg       0.95      0.95      0.95       200
weighted avg       0.95      0.95      0.95       200


The AUC-ROC Score of the best model parameters:
 0.9918

[TEST DATA] The accuracy Score of the best model parameters:
 0.9500

[TEST DATA] The F1 Score of the best model parameters:
 0.9479


****************************************************************************************

BASED ON LOGISTIC REGRESSION CLASSIFIER's BEST F-1 PARAMETER:

The Best Parameters for F1:
 {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}
              precision    recall  f1-score   support

           0       0.96      0.98      0.97       106
           1       0.98      0.96      0.97        94

    accuracy                           0.97       200
   macro avg       0.97      0.97      0.97       200
weighted avg       0.97      0.97      0.97       200


[TEST DATA] The AUC-ROC Score of the best model parameters:
 0.9969

[TEST DATA] The accuracy Score of the best model parameters:
 0.9700

[TEST DATA] The F1 Score of the best model parameters:
 0.9677

In [25]:
pd.Series(y_test).value_counts()

0    106
1     94
dtype: int64

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from scikeras.wrappers import KerasClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.datasets import make_classification

# 1. Generate dummy data (binary classification)
X, y = make_classification(n_samples=1000, n_features=20, n_informative=15,
                           n_redundant=5, n_classes=2, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 2. Define model builder function with compilation inside
def create_model(learning_rate=0.001):
    model = keras.Sequential()
    model.add(keras.layers.Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(16, activation='relu'))
    model.add(keras.layers.Dense(1, activation='sigmoid'))  # Binary classification
    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )
    return model

# 3. Wrap it using scikeras' KerasClassifier
clf = KerasClassifier(model=create_model, verbose=0)

# 4. Define the pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('clf', clf)
])

# 5. Define hyperparameter grid
param_grid = {
    'clf__model__learning_rate': [0.001, 0.01],
    'clf__batch_size': [16, 32],
    'clf__epochs': [10, 20]
}

# 6. Run GridSearchCV
grid_search = GridSearchCV(
    estimator=pipeline,
    param_grid=param_grid,
    cv=3,
    verbose=1,
    error_score='raise'
)

# 7. Fit
grid_search.fit(X_train, y_train)

# 8. Evaluate
print("Best Parameters:", grid_search.best_params_)
print("Best Cross-Validation Score:", grid_search.best_score_)

# Optional: Test set evaluation
score = grid_search.score(X_test, y_test)
print("Test Set Accuracy:", score)