In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# (My Code from ITMD 522 - HW#2)

# import pandas as pd.
import pandas as pd
import numpy as np
from pathlib import Path

# Folder path: '/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset'
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset')  

# Read the excel file and specific 'Data' spreadsheet from CSV file. Get all CSV files in the folder.
# pandas.read_csv(filepath_or_buffer, *, sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=<no_default>, skip_blank_lines=True, parse_dates=None, infer_datetime_format=<no_default>, keep_date_col=<no_default>, date_parser=<no_default>, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=<no_default>, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=<no_default>)
# csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]
csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]

# To assign names for each datafile as a dataframe.
for file in csv_files:
    var_name = file.stem.replace(" ", "_").replace("-", "_")
    globals()[var_name] = pd.read_csv(file)
    print(f"Loaded: {var_name} (shape: {globals()[var_name].shape})")

Loaded: HI_Small_Trans (shape: (5078345, 11))
Loaded: LI_Small_Trans (shape: (6924049, 11))

# HI_Small_Trans dataset.

In [3]:
LI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

# LI_Small_Trans dataset.

In [4]:
HI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

# Merge two dataset.

In [5]:
merged_Small_df = pd.concat([LI_Small_Trans, HI_Small_Trans], ignore_index=True)
display(merged_Small_df)
display(merged_Small_df.info())
display(merged_Small_df.nunique())
value_counts = merged_Small_df['Is Laundering'].value_counts()
print(value_counts)

merged_Small_df = merged_Small_df[merged_Small_df['Receiving Currency'] == 'US Dollar']
merged_Small_df

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
12002389,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,1.549780e-01,Bitcoin,1.549780e-01,Bitcoin,Bitcoin,0
12002390,2022/09/10 23:35,15,8148A8671,256398,8148A8711,1.081280e-01,Bitcoin,1.081280e-01,Bitcoin,Bitcoin,0
12002391,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,4.988000e-03,Bitcoin,4.988000e-03,Bitcoin,Bitcoin,0
12002392,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,3.841700e-02,Bitcoin,3.841700e-02,Bitcoin,Bitcoin,0
12002393,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,2.819830e-01,Bitcoin,2.819830e-01,Bitcoin,Bitcoin,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12002394 entries, 0 to 12002393
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 1007.3+ MB

None

Timestamp               15133
From Bank               57222
Account               1166980
To Bank                 33608
Account.1              988911
Amount Received       1835635
Receiving Currency         15
Amount Paid           1850741
Payment Currency           15
Payment Format              7
Is Laundering               2
dtype: int64

0    11993652
1        8742
Name: Is Laundering, dtype: int64

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3195403.00,US Dollar,3195403.00,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1858.96,US Dollar,1858.96,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,592571.00,US Dollar,592571.00,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,12.32,US Dollar,12.32,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2941.56,US Dollar,2941.56,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
11999923,2022/09/10 23:53,21575,802146470,138133,814468C00,228.60,US Dollar,228.60,US Dollar,Credit Card,0
11999924,2022/09/10 23:49,115359,80E121C00,35036,8144B5CD0,796.30,US Dollar,796.30,US Dollar,Credit Card,0
11999925,2022/09/10 23:33,12735,80170F410,241742,8147B1930,200.43,US Dollar,200.43,US Dollar,Cheque,0
11999926,2022/09/10 23:51,12735,80170F410,241742,8147B1930,251.97,US Dollar,251.97,US Dollar,ACH,0
11999927,2022/09/10 23:42,18679,807951C10,253359,814901FB0,9.30,US Dollar,9.30,US Dollar,Cheque,0

# X independent and Y dependent variable.

In [6]:
# Define a function to extract last 4 characters from account (as string)
def last_4_digits(val):
    if pd.isna(val):
        return 'UNK'  # For missing values
    return str(val)[-4:]

# Apply it to high-cardinality object columns
merged_Small_df['Account_Grouped'] = merged_Small_df['Account'].apply(last_4_digits)
merged_Small_df['Account1_Grouped'] = merged_Small_df['Account.1'].apply(last_4_digits)

X = merged_Small_df.drop(columns='Is Laundering')
y = merged_Small_df['Is Laundering']

print("X:\n")
display(X)

print("Y:\n")
display(y)

X:

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Account_Grouped,Account1_Grouped
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3195403.00,US Dollar,3195403.00,US Dollar,Reinvestment,CA90,CA90
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1858.96,US Dollar,1858.96,US Dollar,Reinvestment,DAD0,DAD0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,592571.00,US Dollar,592571.00,US Dollar,Cheque,CA90,A910
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,12.32,US Dollar,12.32,US Dollar,Reinvestment,D080,D080
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2941.56,US Dollar,2941.56,US Dollar,Reinvestment,D530,D530
...,...,...,...,...,...,...,...,...,...,...,...,...
11999923,2022/09/10 23:53,21575,802146470,138133,814468C00,228.60,US Dollar,228.60,US Dollar,Credit Card,6470,8C00
11999924,2022/09/10 23:49,115359,80E121C00,35036,8144B5CD0,796.30,US Dollar,796.30,US Dollar,Credit Card,1C00,5CD0
11999925,2022/09/10 23:33,12735,80170F410,241742,8147B1930,200.43,US Dollar,200.43,US Dollar,Cheque,F410,1930
11999926,2022/09/10 23:51,12735,80170F410,241742,8147B1930,251.97,US Dollar,251.97,US Dollar,ACH,F410,1930
11999927,2022/09/10 23:42,18679,807951C10,253359,814901FB0,9.30,US Dollar,9.30,US Dollar,Cheque,1C10,1FB0

Y:

0           0
1           0
2           0
3           0
4           0
           ..
11999923    0
11999924    0
11999925    0
11999926    0
11999927    0
Name: Is Laundering, Length: 4416583, dtype: int64

# Things I did for X.

- Convert Timestamp into columns like i.e., {hour, day, weekday, and month}.
- For Account_Grouped and Account1_Grouped columns,
    - Extract first two letters (if present)
    - Collect the digits at the end (whatever part is numeric)

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import re

# Drop redundant columns
X = X.drop(columns=['Account', 'Account.1'])

# Convert string to datetime
X['timestamp_column_name'] = pd.to_datetime(X['Timestamp'])

# Extract datetime features
X['hour'] = X['timestamp_column_name'].dt.hour
X['day'] = X['timestamp_column_name'].dt.day
X['weekday'] = X['timestamp_column_name'].dt.weekday
X['month'] = X['timestamp_column_name'].dt.month

X = X.drop(['Timestamp'], axis=1)

# One-hot encode selected categorical columns
categorical_cols = ['Receiving Currency', 'Payment Currency', 'Payment Format']

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_array = encoder.fit_transform(X[categorical_cols])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_cols),
    index=X.index
)

X = pd.concat([X.drop(columns=categorical_cols), encoded_df], axis=1)

def fast_encode_account_grouped(df, column_name, prefix):
    col = df[column_name].astype(str).str.strip()

    # Extract first two letters
    letters = col.str.extract(r'([A-Za-z])?([A-Za-z])?')
    digits = col.str.extract(r'(\d+)')

    l1 = letters[0].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    l2 = letters[1].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    num = digits[0].fillna(-1).astype(int)

    return pd.DataFrame({
        f'{prefix}_L1': l1,
        f'{prefix}_L2': l2,
        f'{prefix}_Num': num
    }, index=df.index)

# Apply vectorized encoding
X = pd.concat([
    X,
    fast_encode_account_grouped(X, 'Account_Grouped', 'AG'),
    fast_encode_account_grouped(X, 'Account1_Grouped', 'AG1')
], axis=1)

X.drop(columns=['Account_Grouped', 'Account1_Grouped'], inplace=True)
X

/usr/local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,From Bank,To Bank,Amount Received,Amount Paid,timestamp_column_name,hour,day,weekday,month,Receiving Currency_US Dollar,...,Payment Format_Cheque,Payment Format_Credit Card,Payment Format_Reinvestment,Payment Format_Wire,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num
0,11,11,3195403.00,3195403.00,2022-09-01 00:08:00,0,1,3,9,1.0,...,0.0,0.0,1.0,0.0,2,0,90,2,0,90
1,3402,3402,1858.96,1858.96,2022-09-01 00:21:00,0,1,3,9,1.0,...,0.0,0.0,1.0,0.0,3,0,0,3,0,0
2,11,1120,592571.00,592571.00,2022-09-01 00:00:00,0,1,3,9,1.0,...,1.0,0.0,0.0,0.0,2,0,90,0,-1,910
3,3814,3814,12.32,12.32,2022-09-01 00:16:00,0,1,3,9,1.0,...,0.0,0.0,1.0,0.0,3,-1,80,3,-1,80
4,20,20,2941.56,2941.56,2022-09-01 00:00:00,0,1,3,9,1.0,...,0.0,0.0,1.0,0.0,3,-1,530,3,-1,530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11999923,21575,138133,228.60,228.60,2022-09-10 23:53:00,23,10,5,9,1.0,...,0.0,1.0,0.0,0.0,-1,-1,6470,-1,-1,8
11999924,115359,35036,796.30,796.30,2022-09-10 23:49:00,23,10,5,9,1.0,...,0.0,1.0,0.0,0.0,-1,-1,1,-1,-1,5
11999925,12735,241742,200.43,200.43,2022-09-10 23:33:00,23,10,5,9,1.0,...,1.0,0.0,0.0,0.0,5,-1,410,-1,-1,1930
11999926,12735,241742,251.97,251.97,2022-09-10 23:51:00,23,10,5,9,1.0,...,0.0,0.0,0.0,0.0,5,-1,410,-1,-1,1930
11999927,18679,253359,9.30,9.30,2022-09-10 23:42:00,23,10,5,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,1,-1,-1,1

In [8]:
y

0           0
1           0
2           0
3           0
4           0
           ..
11999923    0
11999924    0
11999925    0
11999926    0
11999927    0
Name: Is Laundering, Length: 4416583, dtype: int64

# Now, Oversample (SMOTE) and Undersample Majority Class.

- We will get new balanced data -- X and y.

In [9]:
# Identify datetime columns
datetime_cols = X.select_dtypes(include=['datetime64']).columns
print(datetime_cols)

# Convert them into numeric features (like year, month, etc.)
for col in datetime_cols:
    X[f'{col}_year'] = X[col].dt.year
    X[f'{col}_month'] = X[col].dt.month
    X[f'{col}_day'] = X[col].dt.day
    X[f'{col}_minute'] = X[col].dt.minute
    # drop original datetime column
    X.drop(columns=col, inplace=True)
    
X

Index(['timestamp_column_name'], dtype='object')

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,11,11,3195403.00,3195403.00,0,1,3,9,1.0,0.0,...,2,0,90,2,0,90,2022,9,1,8
1,3402,3402,1858.96,1858.96,0,1,3,9,1.0,0.0,...,3,0,0,3,0,0,2022,9,1,21
2,11,1120,592571.00,592571.00,0,1,3,9,1.0,0.0,...,2,0,90,0,-1,910,2022,9,1,0
3,3814,3814,12.32,12.32,0,1,3,9,1.0,0.0,...,3,-1,80,3,-1,80,2022,9,1,16
4,20,20,2941.56,2941.56,0,1,3,9,1.0,0.0,...,3,-1,530,3,-1,530,2022,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11999923,21575,138133,228.60,228.60,23,10,5,9,1.0,0.0,...,-1,-1,6470,-1,-1,8,2022,9,10,53
11999924,115359,35036,796.30,796.30,23,10,5,9,1.0,0.0,...,-1,-1,1,-1,-1,5,2022,9,10,49
11999925,12735,241742,200.43,200.43,23,10,5,9,1.0,0.0,...,5,-1,410,-1,-1,1930,2022,9,10,33
11999926,12735,241742,251.97,251.97,23,10,5,9,1.0,0.0,...,5,-1,410,-1,-1,1930,2022,9,10,51
11999927,18679,253359,9.30,9.30,23,10,5,9,1.0,0.0,...,-1,-1,1,-1,-1,1,2022,9,10,42

In [10]:
print(X.dtypes)

# Normalization on X
# y is already normalized.
from sklearn.preprocessing import MinMaxScaler

original_columns = X.columns

scaler = MinMaxScaler()
X = scaler.fit_transform(X)  # Returns a NumPy array

# Optionally convert back to DataFrame (to keep column names)
X = pd.DataFrame(X, columns=original_columns)

X

From Bank                               int64
To Bank                                 int64
Amount Received                       float64
Amount Paid                           float64
hour                                    int64
day                                     int64
weekday                                 int64
month                                   int64
Receiving Currency_US Dollar          float64
Payment Currency_Australian Dollar    float64
Payment Currency_Bitcoin              float64
Payment Currency_Brazil Real          float64
Payment Currency_Canadian Dollar      float64
Payment Currency_Euro                 float64
Payment Currency_Mexican Peso         float64
Payment Currency_Ruble                float64
Payment Currency_Rupee                float64
Payment Currency_Saudi Riyal          float64
Payment Currency_Shekel               float64
Payment Currency_Swiss Franc          float64
Payment Currency_UK Pound             float64
Payment Currency_US Dollar            float64
Payment Currency_Yen                  float64
Payment Currency_Yuan                 float64
Payment Format_ACH                    float64
Payment Format_Bitcoin                float64
Payment Format_Cash                   float64
Payment Format_Cheque                 float64
Payment Format_Credit Card            float64
Payment Format_Reinvestment           float64
Payment Format_Wire                   float64
AG_L1                                   int64
AG_L2                                   int64
AG_Num                                  int64
AG1_L1                                  int64
AG1_L2                                  int64
AG1_Num                                 int64
timestamp_column_name_year              int64
timestamp_column_name_month             int64
timestamp_column_name_day               int64
timestamp_column_name_minute            int64
dtype: object

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.000029,0.000029,1.922555e-04,1.922555e-04,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.500000,0.166667,0.009009,0.500000,0.166667,0.009009,0.0,0.0,0.000000,0.135593
1,0.009025,0.009025,1.118461e-07,1.118467e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.166667,0.000000,0.666667,0.166667,0.000000,0.0,0.0,0.000000,0.355932
2,0.000029,0.002971,3.565279e-05,3.565279e-05,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.500000,0.166667,0.009009,0.166667,0.000000,0.091091,0.0,0.0,0.000000,0.000000
3,0.010118,0.010118,7.406468e-10,7.412357e-10,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.000000,0.008008,0.666667,0.000000,0.008008,0.0,0.0,0.000000,0.271186
4,0.000053,0.000053,1.769821e-07,1.769827e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.000000,0.053053,0.666667,0.000000,0.053053,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416578,0.057237,0.366461,1.375341e-08,1.375400e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.647648,0.000000,0.000000,0.000801,0.0,0.0,0.529412,0.898305
4416579,0.306041,0.092949,4.790980e-08,4.791039e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000100,0.000000,0.000000,0.000501,0.0,0.0,0.529412,0.830508
4416580,0.033785,0.641331,1.205852e-08,1.205911e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,1.000000,0.000000,0.041041,0.000000,0.000000,0.193193,0.0,0.0,0.529412,0.559322
4416581,0.033785,0.641331,1.515949e-08,1.516008e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,1.000000,0.000000,0.041041,0.000000,0.000000,0.193193,0.0,0.0,0.529412,0.864407
4416582,0.049554,0.672150,5.589446e-10,5.595336e-10,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000100,0.000000,0.000000,0.000100,0.0,0.0,0.529412,0.711864

# Split the dataset.

In [11]:
from sklearn.model_selection import train_test_split

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
# sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
# Example: X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, # X scalered data.
                                                    y, # y
                                                    test_size=0.25, # test_size : float or int, default=None
                                                    random_state=42, # random_state : int, RandomState instance or None, default=None
                                                    shuffle=True, # shuffle : bool, default=True
                                                    stratify=y) # stratify : array-like, default=None

# Sort the index of X_train
X_train = X_train.sort_index()

# Sort the index of X_test
X_test = X_test.sort_index()

# Sort the index of y_train
y_train = y_train.sort_index()

# Sort the index of y_test
y_test = y_test.sort_index()

In [12]:
# Show the training dataset. X_train and y_train.
display("The predict_cols_scaled_df_X_train dataset: \n", X_train)
# y_train
display("\n\nThe predict_cols_scaled_df_y_train dataset: \n", y_train)
y_train.value_counts()

'The predict_cols_scaled_df_X_train dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.000029,0.000029,1.922555e-04,1.922555e-04,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.500000,0.166667,0.009009,0.500000,0.166667,0.009009,0.0,0.0,0.000000,0.135593
1,0.009025,0.009025,1.118461e-07,1.118467e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.166667,0.000000,0.666667,0.166667,0.000000,0.0,0.0,0.000000,0.355932
2,0.000029,0.002971,3.565279e-05,3.565279e-05,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.500000,0.166667,0.009009,0.166667,0.000000,0.091091,0.0,0.0,0.000000,0.000000
3,0.010118,0.010118,7.406468e-10,7.412357e-10,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.000000,0.008008,0.666667,0.000000,0.008008,0.0,0.0,0.000000,0.271186
5,0.000032,0.000032,3.894930e-07,3.894935e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.666667,0.003003,0.666667,0.666667,0.003003,0.0,0.0,0.000000,0.406780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416578,0.057237,0.366461,1.375341e-08,1.375400e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.647648,0.000000,0.000000,0.000801,0.0,0.0,0.529412,0.898305
4416579,0.306041,0.092949,4.790980e-08,4.791039e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000100,0.000000,0.000000,0.000501,0.0,0.0,0.529412,0.830508
4416580,0.033785,0.641331,1.205852e-08,1.205911e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,1.000000,0.000000,0.041041,0.000000,0.000000,0.193193,0.0,0.0,0.529412,0.559322
4416581,0.033785,0.641331,1.515949e-08,1.516008e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,1.000000,0.000000,0.041041,0.000000,0.000000,0.193193,0.0,0.0,0.529412,0.864407
4416582,0.049554,0.672150,5.589446e-10,5.595336e-10,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000100,0.000000,0.000000,0.000100,0.0,0.0,0.529412,0.711864

'\n\nThe predict_cols_scaled_df_y_train dataset: \n'

0           0
1           0
2           0
3           0
5           0
           ..
11999923    0
11999924    0
11999925    0
11999926    0
11999927    0
Name: Is Laundering, Length: 3312437, dtype: int64

0    3309911
1       2526
Name: Is Laundering, dtype: int64

In [13]:
# Show the testing dataset. X_test and y_test.
display("The predict_cols_scaled_df_X_test dataset: \n", X_test)
# y_test
display("\n\nThe predict_cols_scaled_df_y_test dataset: \n", y_test)
y_test.value_counts()

'The predict_cols_scaled_df_X_test dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
4,0.000053,0.000053,1.769821e-07,1.769827e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.000000,0.053053,0.666667,0.000000,0.053053,0.0,0.0,0.000000,0.000000
10,0.000594,0.061864,5.577413e-10,5.583303e-10,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.666667,0.000000,0.058058,0.833333,0.666667,0.000000,0.0,0.0,0.000000,0.474576
15,0.003266,0.029886,1.194896e-07,1.194902e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.973974,0.166667,0.500000,0.005005,0.0,0.0,0.000000,0.338983
16,0.001045,0.001045,8.967042e-07,8.967048e-07,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.333333,0.666667,0.000000,0.333333,0.666667,0.000000,0.0,0.0,0.000000,0.237288
17,0.003266,0.056810,1.305548e-08,1.305607e-08,0.0,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.973974,0.500000,0.833333,0.000000,0.0,0.0,0.000000,0.389831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416552,0.032846,0.039274,4.725158e-08,4.725217e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000400,0.000000,0.000000,0.000400,0.0,0.0,0.529412,0.745763
4416555,0.033387,0.101163,5.194334e-08,5.194393e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.666667,0.000000,0.000200,0.833333,0.000000,0.057057,0.0,0.0,0.529412,0.847458
4416557,0.003865,0.045689,7.957470e-08,7.957529e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.702703,0.0,0.0,0.529412,0.779661
4416561,0.086852,0.033785,8.736431e-07,8.736437e-07,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.666667,0.500000,0.000000,0.333333,0.000000,0.014014,0.0,0.0,0.529412,0.932203
4416564,0.625771,0.132961,9.241479e-08,9.241538e-08,1.0,0.529412,0.833333,0.0,0.0,0.0,...,0.000000,0.000000,0.530531,0.000000,0.000000,0.796797,0.0,0.0,0.529412,0.983051

'\n\nThe predict_cols_scaled_df_y_test dataset: \n'

4           0
10          0
15          0
16          0
17          0
           ..
11999897    0
11999900    0
11999902    0
11999906    0
11999909    0
Name: Is Laundering, Length: 1104146, dtype: int64

0    1103304
1        842
Name: Is Laundering, dtype: int64

# Balance the train dataset.

In [14]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from sklearn.utils import shuffle
from joblib import Parallel, delayed
import numpy as np
import pandas as pd

# Create a valid SMOTEENN instance with actual SMOTE
def create_smoteenn():
    return SMOTEENN(
        sampling_strategy='auto',
        random_state=42,
        smote=SMOTE(k_neighbors=3, n_jobs=-1),  # ✅ must be SMOTE
        enn=EditedNearestNeighbours(n_neighbors=3, n_jobs=-1),
        n_jobs=-1
    )

# Process one batch safely
def process_batch(X_batch, y_batch, i):
    try:
        sme = create_smoteenn()
        X_res, y_res = sme.fit_resample(X_batch, y_batch)
        print(f"✅ Batch {i+1} done")
        return X_res, y_res
    except Exception as e:
        print(f"⚠️ Skipping batch {i+1}: {e}")
        return None

# Main function: parallel + SMOTEENN
def batchwise_smoteenn_fast(X, y, batch_size=200000, n_jobs=-1):
    # Optional shuffle to randomize order
    X, y = shuffle(X, y, random_state=42)

    # Convert to NumPy for slicing
    X_np = X.values if isinstance(X, pd.DataFrame) else X
    y_np = y.values if isinstance(y, pd.Series) else y

    num_rows = len(X_np)
    num_batches = (num_rows + batch_size - 1) // batch_size

    # Prepare batches
    batches = [
        (X_np[i * batch_size : min((i + 1) * batch_size, num_rows)],
         y_np[i * batch_size : min((i + 1) * batch_size, num_rows)], i)
        for i in range(num_batches)
    ]

    print(f"🚀 Starting parallel processing with {num_batches} batches...")

    # Run in parallel
    results = Parallel(n_jobs=n_jobs)(
        delayed(process_batch)(*args) for args in batches
    )

    # Filter out failed batches
    X_resampled_list = [r[0] for r in results if r is not None]
    y_resampled_list = [r[1] for r in results if r is not None]

    if not X_resampled_list:
        raise ValueError("All batches failed. Nothing to concatenate.")

    # Combine
    X_final = np.vstack(X_resampled_list)
    y_final = np.hstack(y_resampled_list)

    # Convert back to DataFrame/Series if needed
    if isinstance(X, pd.DataFrame):
        X_final = pd.DataFrame(X_final, columns=X.columns)
    if isinstance(y, pd.Series):
        y_final = pd.Series(y_final, name=y.name)

    print("✅ All batches processed and combined.")
    return X_final, y_final

X_train, y_train = batchwise_smoteenn_fast(X_train, y_train, batch_size=200000, n_jobs=4)

X_train

🚀 Starting parallel processing with 17 batches...

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

✅ All batches processed and combined.

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.014782,0.000032,2.393414e-09,2.394003e-09,0.000000,0.529412,0.833333,0.0,0.0,0.0,...,0.166667,0.833333,0.000000,0.000000,0.000000,0.779780,0.0,0.0,0.529412,0.203390
1,0.004794,0.014912,2.612233e-07,2.612239e-07,0.043478,0.411765,0.500000,0.0,0.0,0.0,...,0.666667,0.833333,0.000000,0.000000,0.000000,0.525526,0.0,0.0,0.411765,0.152542
2,0.000032,0.003266,2.623749e-07,2.623755e-07,0.391304,0.176471,1.000000,0.0,0.0,0.0,...,0.500000,0.833333,0.000000,0.000000,0.000000,0.231231,0.0,0.0,0.176471,0.135593
3,0.000926,0.003698,1.162954e-08,1.163013e-08,0.130435,0.470588,0.666667,0.0,0.0,0.0,...,0.500000,0.000000,0.000000,0.833333,0.333333,0.006006,0.0,0.0,0.470588,0.067797
4,0.009543,0.033698,1.675149e-08,1.675208e-08,0.260870,0.058824,0.666667,0.0,0.0,0.0,...,0.833333,0.000000,0.044044,0.000000,0.000000,0.000701,0.0,0.0,0.058824,0.694915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6619805,0.000186,0.256190,8.974437e-06,8.974437e-06,0.646856,0.326054,0.500000,0.0,0.0,0.0,...,0.333333,0.000000,0.066066,0.034692,0.000000,0.001652,0.0,0.0,0.326054,0.915327
6619806,0.003328,0.045717,5.293637e-04,5.293637e-04,0.166989,0.578868,0.973459,0.0,0.0,0.0,...,0.000000,0.000000,0.762702,1.000000,0.039812,0.000804,0.0,0.0,0.578868,0.444567
6619807,0.033354,0.010090,1.137826e-06,1.137827e-06,0.361649,0.411765,0.500000,0.0,0.0,0.0,...,0.000000,0.000000,0.066263,0.052987,0.211950,0.001434,0.0,0.0,0.411765,0.371410
6619808,0.014720,0.230176,9.663085e-05,9.663085e-05,0.221211,0.529412,0.833333,0.0,0.0,0.0,...,0.833333,0.000000,0.003941,0.000000,0.000000,0.654550,0.0,0.0,0.529412,0.694019
6619809,0.026115,0.048177,2.424411e-07,2.424417e-07,0.834970,0.282100,0.132617,0.0,0.0,0.0,...,0.000000,0.000000,0.000503,0.000000,0.000000,0.000503,0.0,0.0,0.282100,0.182249

In [15]:
y_train

0          0
1          0
2          0
3          0
4          0
          ..
6619805    1
6619806    1
6619807    1
6619808    1
6619809    1
Name: Is Laundering, Length: 6619810, dtype: int64

# Compute the weight to y_train as we already balanced it in the earlier code.

In [16]:
from sklearn.utils.class_weight import compute_class_weight

# numpy.ravel(a, order='C') : Return a contiguous flattened array.
# A 1-D array, containing the elements of the input, is returned. A copy is made only if needed.
y_train = y_train.values.ravel()

# https://scikit-learn.org/stable/modules/generated/sklearn.utils.class_weight.compute_class_weight.html
# sklearn.utils.class_weight.compute_class_weight(class_weight, *, classes, y)
# Returns: class_weight_vect : ndarray of shape (n_classes,) : Array with class_weight_vect[i] the weight for i-th class.
temp_compute_class_weight = compute_class_weight(class_weight="balanced", # class_weight : dict, “balanced” or None
                                                 classes=np.unique(y_train), # classes : ndarray
                                                 y=y_train) # y : array-like of shape (n_samples,)

# Classification and weighting.
tempResClassWeight = {tempIdx: tempData1 for tempIdx, tempData1 in zip(np.unique(y_train, 
                                                                                 return_index=False, 
                                                                                 return_inverse=False, 
                                                                                 return_counts=False, 
                                                                                 axis=None, 
                                                                                 equal_nan=True), 
                                                                      temp_compute_class_weight)}

# Show weight.
tempResClassWeight

✅ Batch 2 done
✅ Batch 5 done
✅ Batch 10 done
✅ Batch 14 done
✅ Batch 4 done
✅ Batch 8 done
✅ Batch 11 done
✅ Batch 15 done

{0: 0.9999981872624369, 1: 1.000001812744135}

# So, now, Data Processing work over. It's the most important step. Otherwise, we won't get best results. Now, off to 5 models to test.

In [17]:
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, roc_auc_score

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.htmls
# sklearn.metrics.make_scorer(score_func, *, response_method='default', greater_is_better=True, **kwargs)
# Make a scorer from a performance metric or loss function.
# A scorer is a wrapper around an arbitrary metric or loss function that is called with the signature scorer(estimator, X, y_true, **kwargs).
# It is accepted in all scikit-learn estimators or functions allowing a scoring parameter.
# The parameter response_method allows to specify which method of the estimator should be used to feed the scoring/loss function.
# response_method{“predict_proba”, “decision_function”, “predict”} or list/tuple of such str, default=None
# metrics_score_list = {
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
#     'accuracy_score' : make_scorer(accuracy_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
#     'precision_score' : make_scorer(precision_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
#     'recall_scores' : make_scorer(recall_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
#     'roc_auc_score' : make_scorer(roc_auc_score),
# }

metrics_score_list = ['accuracy', # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
                      'precision', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
                      'recall', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
                      'roc_auc',
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html
                     'f1']

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score, f1_score, precision_score, recall_score

# Model-4: GradientBoostingClassifier techniques (AUC ROC + Accurcay + F1)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html
# class sklearn.ensemble.GradientBoostingClassifier(*, loss='log_loss', learning_rate=0.1, n_estimators=100, subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, init=None, random_state=None, max_features=None, verbose=0, max_leaf_nodes=None, warm_start=False, validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)
clf_GBC = GradientBoostingClassifier(loss='log_loss', 
                                     learning_rate=0.1, 
                                     n_estimators=100, 
                                     subsample=1.0, 
                                     criterion='friedman_mse', 
                                     min_samples_split=2, 
                                     min_samples_leaf=1, 
                                     min_weight_fraction_leaf=0.0, 
                                     max_depth=3, 
                                     min_impurity_decrease=0.0, 
                                     init=None, 
                                     random_state=42, 
                                     max_features=None, 
                                     verbose=0, 
                                     max_leaf_nodes=None, 
                                     warm_start=False, 
                                     validation_fraction=0.1, 
                                     n_iter_no_change=None, 
                                     tol=0.0001, 
                                     ccp_alpha=0.0)

# estimator details for GradientBoostingr.
# https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
clf_GBC_pipeline = Pipeline([
    ('clf_GBC', 
     clf_GBC) # GradientBoostingClassifier
])

# Parameter details for GradientBoostingr.
# param_grid : dict or list of dictionaries
clf_GBC_param_grid = {
    # The number of boosting stages to perform. Gradient boosting is fairly robust to over-fitting so a large number usually results in better performance. Values must be in the range [1, inf).
    'clf_GBC__n_estimators': [50, 
                              100], 
    # Learning rate shrinks the contribution of each tree by learning_rate.
    'clf_GBC__learning_rate': [0.05,
                               0.1],
    # Maximum depth of the individual regression estimators. 
    'clf_GBC__max_depth': [3, 
                           10],  
    # The minimum number of samples required to split an internal node.
    'clf_GBC__min_samples_split': [2, 
                                   5], 
    # The minimum number of samples required to be at a leaf node.
    'clf_GBC__min_samples_leaf': [1, 
                                  3]  
}

# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
# class sklearn.model_selection.GridSearchCV(estimator, param_grid, *, scoring=None, n_jobs=None, refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score=nan, return_train_score=False)
clf_grid_search = GridSearchCV(estimator=clf_GBC_pipeline,
                                   param_grid=clf_GBC_param_grid, 
                                   scoring=metrics_score_list, 
                                   cv=5, 
                                   n_jobs=4,
                                   refit=False, 
                                   verbose=1, 
                                   pre_dispatch='2*n_jobs', 
                                   return_train_score=False)

# fit(X, y=None, **params)
clf_grid_search.fit(X_train, # X
                    y_train) # y

# cv_results_dict of numpy (masked) ndarrays : A dict with keys as column headers and values as columns, that can be imported into a pandas DataFrame.
tempResCV = clf_grid_search.cv_results_
print("\n The clf_grid_search's results are: \n", clf_grid_search.cv_results_)

# AOC-RUC
print("\n\n****************************************************************************************")
print("\nBASED ON Gradient Boosting Classifier's BEST AOC-RUC PARAMETER:")
tempo_mapping_roc_auc = clf_grid_search.cv_results_['params'][tempResCV['mean_test_roc_auc'].argmax()]
print(f"\nThe Best Parameters for AUC-ROC:\n {tempo_mapping_roc_auc}")

tempo_mapping_roc_auc_model = clf_GBC_pipeline.set_params(**tempo_mapping_roc_auc).fit(X_train, # X
                                                                                 y_train) # y
tempYPred = tempo_mapping_roc_auc_model.predict(X_test)
tempYPred_probability = tempo_mapping_roc_auc_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# ACCURACY
print("\n\n****************************************************************************************")
print("\nBASED ON Gradient Boosting Classifier's BEST ACCURACY PARAMETER:")
tempo_mapping_accuracy = clf_grid_search.cv_results_['params'][tempResCV['mean_test_accuracy'].argmax()]
print(f"\nThe Best Parameters for ACCURACY:\n {tempo_mapping_accuracy}")

tempo_mapping_accuracy_model = clf_GBC_pipeline.set_params(**tempo_mapping_accuracy).fit(X_train, # X
                                                                                 y_train) # y
tempYPred = tempo_mapping_accuracy_model.predict(X_test)
tempYPred_probability = tempo_mapping_accuracy_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# F1
print("\n\n****************************************************************************************")
print("\nBASED ON Gradient Boosting Classifier's BEST F1 PARAMETER:")
tempo_mapping_f1 = clf_grid_search.cv_results_['params'][tempResCV['mean_test_f1'].argmax()]
print(f"\nThe Best Parameters for F1:\n {tempo_mapping_f1}")

tempo_mapping_f1_model = clf_GBC_pipeline.set_params(**tempo_mapping_f1).fit(X_train, # X
                                                                       y_train) # y
tempYPred = tempo_mapping_f1_model.predict(X_test)
tempYPred_probability = tempo_mapping_f1_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\n[TEST DATA] The AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")

✅ Batch 1 done
✅ Batch 7 done
✅ Batch 12 done
✅ Batch 16 done
Fitting 5 folds for each of 32 candidates, totalling 160 fits

# Model-5: SVC (AUC ROC + Accurcay + F1)