In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# (My Code from ITMD 522 - HW#2)

# import pandas as pd.
import pandas as pd
import numpy as np
from pathlib import Path

# Folder path: '/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset'
folder_path = Path('/Users/harshpatel/Desktop/MS-ITM/ITMD 524/project_dataset')  

# Read the excel file and specific 'Data' spreadsheet from CSV file. Get all CSV files in the folder.
# pandas.read_csv(filepath_or_buffer, *, sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=<no_default>, skip_blank_lines=True, parse_dates=None, infer_datetime_format=<no_default>, keep_date_col=<no_default>, date_parser=<no_default>, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=<no_default>, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=<no_default>)
# csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]
csv_files = [f for f in folder_path.glob('*.csv') if 'Small' in f.name]

# To assign names for each datafile as a dataframe.
for file in csv_files:
    var_name = file.stem.replace(" ", "_").replace("-", "_")
    globals()[var_name] = pd.read_csv(file)
    print(f"Loaded: {var_name} (shape: {globals()[var_name].shape})")

Loaded: HI_Small_Trans (shape: (5078345, 11))
Loaded: LI_Small_Trans (shape: (6924049, 11))

# HI_Small_Trans dataset.

In [3]:
LI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

# LI_Small_Trans dataset.

In [4]:
HI_Small_Trans

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.340000,US Dollar,3697.340000,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.010000,US Dollar,0.010000,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.570000,US Dollar,14675.570000,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.970000,US Dollar,2806.970000,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.970000,US Dollar,36682.970000,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
5078340,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,0.154978,Bitcoin,0.154978,Bitcoin,Bitcoin,0
5078341,2022/09/10 23:35,15,8148A8671,256398,8148A8711,0.108128,Bitcoin,0.108128,Bitcoin,Bitcoin,0
5078342,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,0.004988,Bitcoin,0.004988,Bitcoin,Bitcoin,0
5078343,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,0.038417,Bitcoin,0.038417,Bitcoin,Bitcoin,0
5078344,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,0.281983,Bitcoin,0.281983,Bitcoin,Bitcoin,0

# Merge two dataset.

In [5]:
merged_Small_df = pd.concat([LI_Small_Trans, HI_Small_Trans], ignore_index=True)
display(merged_Small_df)
display(merged_Small_df.info())
display(merged_Small_df.nunique())
value_counts = merged_Small_df['Is Laundering'].value_counts()
print(value_counts)

merged_Small_df = merged_Small_df[merged_Small_df['Receiving Currency'] == 'US Dollar']
merged_Small_df = merged_Small_df.sample(n=300000, random_state=42)
merged_Small_df = merged_Small_df.reset_index(drop=True)
merged_Small_df

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
12002389,2022/09/10 23:57,54219,8148A6631,256398,8148A8711,1.549780e-01,Bitcoin,1.549780e-01,Bitcoin,Bitcoin,0
12002390,2022/09/10 23:35,15,8148A8671,256398,8148A8711,1.081280e-01,Bitcoin,1.081280e-01,Bitcoin,Bitcoin,0
12002391,2022/09/10 23:52,154365,8148A6771,256398,8148A8711,4.988000e-03,Bitcoin,4.988000e-03,Bitcoin,Bitcoin,0
12002392,2022/09/10 23:46,256398,8148A6311,256398,8148A8711,3.841700e-02,Bitcoin,3.841700e-02,Bitcoin,Bitcoin,0
12002393,2022/09/10 23:37,154518,8148A6091,256398,8148A8711,2.819830e-01,Bitcoin,2.819830e-01,Bitcoin,Bitcoin,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12002394 entries, 0 to 12002393
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 1007.3+ MB

None

Timestamp               15133
From Bank               57222
Account               1166980
To Bank                 33608
Account.1              988911
Amount Received       1835635
Receiving Currency         15
Amount Paid           1850741
Payment Currency           15
Payment Format              7
Is Laundering               2
dtype: int64

0    11993652
1        8742
Name: Is Laundering, dtype: int64

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/09 08:09,8595,8067D10B0,13327,80A56F9A0,59.63,US Dollar,59.63,US Dollar,Cheque,0
1,2022/09/05 03:28,1362,80075DF40,11974,805837910,62.07,US Dollar,62.07,US Dollar,Cheque,0
2,2022/09/01 05:31,15,803A61820,15,803A61820,55.64,US Dollar,5864.32,Yen,ACH,0
3,2022/09/06 11:12,19229,807D437B0,26179,816D93DF0,167.19,US Dollar,167.19,US Dollar,Cheque,0
4,2022/09/08 10:33,16136,813336280,6803,8133099F0,4766.10,US Dollar,4766.10,US Dollar,ACH,0
...,...,...,...,...,...,...,...,...,...,...,...
299995,2022/09/08 00:49,2692,8058DC1E0,28644,819732C60,279.70,US Dollar,279.70,US Dollar,Cheque,0
299996,2022/09/01 21:43,11047,803623930,24950,80386E260,5906.84,US Dollar,5906.84,US Dollar,Wire,0
299997,2022/09/06 07:27,11318,800A50A30,2845,803A0E1D0,87.74,US Dollar,87.74,US Dollar,Cheque,0
299998,2022/09/10 03:46,394,800528960,238579,8110143D0,1114.42,US Dollar,1114.42,US Dollar,Cheque,0
299999,2022/09/04 01:34,2439,804E5F010,22205,8064612A0,226.43,US Dollar,226.43,US Dollar,Credit Card,0

# X independent and Y dependent variable.

In [6]:
# Define a function to extract last 4 characters from account (as string)
def last_4_digits(val):
    if pd.isna(val):
        return 'UNK'  # For missing values
    return str(val)[-4:]

# Apply it to high-cardinality object columns
merged_Small_df['Account_Grouped'] = merged_Small_df['Account'].apply(last_4_digits)
merged_Small_df['Account1_Grouped'] = merged_Small_df['Account.1'].apply(last_4_digits)

X = merged_Small_df.drop(columns='Is Laundering')
y = merged_Small_df['Is Laundering']

print("X:\n")
display(X)

print("Y:\n")
display(y)

X:

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Account_Grouped,Account1_Grouped
0,2022/09/09 08:09,8595,8067D10B0,13327,80A56F9A0,59.63,US Dollar,59.63,US Dollar,Cheque,10B0,F9A0
1,2022/09/05 03:28,1362,80075DF40,11974,805837910,62.07,US Dollar,62.07,US Dollar,Cheque,DF40,7910
2,2022/09/01 05:31,15,803A61820,15,803A61820,55.64,US Dollar,5864.32,Yen,ACH,1820,1820
3,2022/09/06 11:12,19229,807D437B0,26179,816D93DF0,167.19,US Dollar,167.19,US Dollar,Cheque,37B0,3DF0
4,2022/09/08 10:33,16136,813336280,6803,8133099F0,4766.10,US Dollar,4766.10,US Dollar,ACH,6280,99F0
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2022/09/08 00:49,2692,8058DC1E0,28644,819732C60,279.70,US Dollar,279.70,US Dollar,Cheque,C1E0,2C60
299996,2022/09/01 21:43,11047,803623930,24950,80386E260,5906.84,US Dollar,5906.84,US Dollar,Wire,3930,E260
299997,2022/09/06 07:27,11318,800A50A30,2845,803A0E1D0,87.74,US Dollar,87.74,US Dollar,Cheque,0A30,E1D0
299998,2022/09/10 03:46,394,800528960,238579,8110143D0,1114.42,US Dollar,1114.42,US Dollar,Cheque,8960,43D0
299999,2022/09/04 01:34,2439,804E5F010,22205,8064612A0,226.43,US Dollar,226.43,US Dollar,Credit Card,F010,12A0

Y:

0         0
1         0
2         0
3         0
4         0
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: Is Laundering, Length: 300000, dtype: int64

# Things I did for X.

- Convert Timestamp into columns like i.e., {hour, day, weekday, and month}.
- For Account_Grouped and Account1_Grouped columns,
    - Extract first two letters (if present)
    - Collect the digits at the end (whatever part is numeric)

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import re

# Drop redundant columns
X = X.drop(columns=['Account', 'Account.1'])

# Convert string to datetime
X['timestamp_column_name'] = pd.to_datetime(X['Timestamp'])

# Extract datetime features
X['hour'] = X['timestamp_column_name'].dt.hour
X['day'] = X['timestamp_column_name'].dt.day
X['weekday'] = X['timestamp_column_name'].dt.weekday
X['month'] = X['timestamp_column_name'].dt.month

X = X.drop(['Timestamp'], axis=1)

# One-hot encode selected categorical columns
categorical_cols = ['Receiving Currency', 'Payment Currency', 'Payment Format']

encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_array = encoder.fit_transform(X[categorical_cols])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_cols),
    index=X.index
)

X = pd.concat([X.drop(columns=categorical_cols), encoded_df], axis=1)

def fast_encode_account_grouped(df, column_name, prefix):
    col = df[column_name].astype(str).str.strip()

    # Extract first two letters
    letters = col.str.extract(r'([A-Za-z])?([A-Za-z])?')
    digits = col.str.extract(r'(\d+)')

    l1 = letters[0].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    l2 = letters[1].str.upper().apply(lambda x: ord(x) - ord('A') if pd.notnull(x) else -1)
    num = digits[0].fillna(-1).astype(int)

    return pd.DataFrame({
        f'{prefix}_L1': l1,
        f'{prefix}_L2': l2,
        f'{prefix}_Num': num
    }, index=df.index)

# Apply vectorized encoding
X = pd.concat([
    X,
    fast_encode_account_grouped(X, 'Account_Grouped', 'AG'),
    fast_encode_account_grouped(X, 'Account1_Grouped', 'AG1')
], axis=1)

X.drop(columns=['Account_Grouped', 'Account1_Grouped'], inplace=True)
X

/usr/local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,From Bank,To Bank,Amount Received,Amount Paid,timestamp_column_name,hour,day,weekday,month,Receiving Currency_US Dollar,...,Payment Format_Cheque,Payment Format_Credit Card,Payment Format_Reinvestment,Payment Format_Wire,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num
0,8595,13327,59.63,59.63,2022-09-09 08:09:00,8,9,4,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,10,5,-1,9
1,1362,11974,62.07,62.07,2022-09-05 03:28:00,3,5,0,9,1.0,...,1.0,0.0,0.0,0.0,3,5,40,-1,-1,7910
2,15,15,55.64,5864.32,2022-09-01 05:31:00,5,1,3,9,1.0,...,0.0,0.0,0.0,0.0,-1,-1,1820,-1,-1,1820
3,19229,26179,167.19,167.19,2022-09-06 11:12:00,11,6,1,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,37,-1,-1,3
4,16136,6803,4766.10,4766.10,2022-09-08 10:33:00,10,8,3,9,1.0,...,0.0,0.0,0.0,0.0,-1,-1,6280,-1,-1,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2692,28644,279.70,279.70,2022-09-08 00:49:00,0,8,3,9,1.0,...,1.0,0.0,0.0,0.0,2,-1,1,-1,-1,2
299996,11047,24950,5906.84,5906.84,2022-09-01 21:43:00,21,1,3,9,1.0,...,0.0,0.0,0.0,1.0,-1,-1,3930,4,-1,260
299997,11318,2845,87.74,87.74,2022-09-06 07:27:00,7,6,1,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,0,4,-1,1
299998,394,238579,1114.42,1114.42,2022-09-10 03:46:00,3,10,5,9,1.0,...,1.0,0.0,0.0,0.0,-1,-1,8960,-1,-1,43
299999,2439,22205,226.43,226.43,2022-09-04 01:34:00,1,4,6,9,1.0,...,0.0,1.0,0.0,0.0,5,-1,10,-1,-1,12

In [8]:
y

0         0
1         0
2         0
3         0
4         0
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: Is Laundering, Length: 300000, dtype: int64

# Now, Oversample (SMOTE) and Undersample Majority Class.

- We will get new balanced data -- X and y.

In [9]:
# Identify datetime columns
datetime_cols = X.select_dtypes(include=['datetime64']).columns
print(datetime_cols)

# Convert them into numeric features (like year, month, etc.)
for col in datetime_cols:
    X[f'{col}_year'] = X[col].dt.year
    X[f'{col}_month'] = X[col].dt.month
    X[f'{col}_day'] = X[col].dt.day
    X[f'{col}_minute'] = X[col].dt.minute
    # drop original datetime column
    X.drop(columns=col, inplace=True)
    
X

Index(['timestamp_column_name'], dtype='object')

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,8595,13327,59.63,59.63,8,9,4,9,1.0,0.0,...,-1,-1,10,5,-1,9,2022,9,9,9
1,1362,11974,62.07,62.07,3,5,0,9,1.0,0.0,...,3,5,40,-1,-1,7910,2022,9,5,28
2,15,15,55.64,5864.32,5,1,3,9,1.0,0.0,...,-1,-1,1820,-1,-1,1820,2022,9,1,31
3,19229,26179,167.19,167.19,11,6,1,9,1.0,0.0,...,-1,-1,37,-1,-1,3,2022,9,6,12
4,16136,6803,4766.10,4766.10,10,8,3,9,1.0,0.0,...,-1,-1,6280,-1,-1,99,2022,9,8,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2692,28644,279.70,279.70,0,8,3,9,1.0,0.0,...,2,-1,1,-1,-1,2,2022,9,8,49
299996,11047,24950,5906.84,5906.84,21,1,3,9,1.0,0.0,...,-1,-1,3930,4,-1,260,2022,9,1,43
299997,11318,2845,87.74,87.74,7,6,1,9,1.0,0.0,...,-1,-1,0,4,-1,1,2022,9,6,27
299998,394,238579,1114.42,1114.42,3,10,5,9,1.0,0.0,...,-1,-1,8960,-1,-1,43,2022,9,10,46
299999,2439,22205,226.43,226.43,1,4,6,9,1.0,0.0,...,5,-1,10,-1,-1,12,2022,9,4,34

In [10]:
print(X.dtypes)

# Normalization on X
# y is already normalized.
from sklearn.preprocessing import MinMaxScaler

original_columns = X.columns

scaler = MinMaxScaler()
X = scaler.fit_transform(X)  # Returns a NumPy array

# Optionally convert back to DataFrame (to keep column names)
X = pd.DataFrame(X, columns=original_columns)

X

From Bank                               int64
To Bank                                 int64
Amount Received                       float64
Amount Paid                           float64
hour                                    int64
day                                     int64
weekday                                 int64
month                                   int64
Receiving Currency_US Dollar          float64
Payment Currency_Australian Dollar    float64
Payment Currency_Bitcoin              float64
Payment Currency_Brazil Real          float64
Payment Currency_Canadian Dollar      float64
Payment Currency_Euro                 float64
Payment Currency_Mexican Peso         float64
Payment Currency_Ruble                float64
Payment Currency_Rupee                float64
Payment Currency_Saudi Riyal          float64
Payment Currency_Shekel               float64
Payment Currency_Swiss Franc          float64
Payment Currency_UK Pound             float64
Payment Currency_US Dollar            float64
Payment Currency_Yen                  float64
Payment Currency_Yuan                 float64
Payment Format_ACH                    float64
Payment Format_Bitcoin                float64
Payment Format_Cash                   float64
Payment Format_Cheque                 float64
Payment Format_Credit Card            float64
Payment Format_Reinvestment           float64
Payment Format_Wire                   float64
AG_L1                                   int64
AG_L2                                   int64
AG_Num                                  int64
AG1_L1                                  int64
AG1_L2                                  int64
AG1_Num                                 int64
timestamp_column_name_year              int64
timestamp_column_name_month             int64
timestamp_column_name_day               int64
timestamp_column_name_minute            int64
dtype: object

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.022805,0.035392,1.842286e-08,1.842569e-08,0.347826,0.533333,0.666667,0.0,0.0,0.0,...,0.000000,0.0,0.001001,1.000000,0.0,0.000901,0.0,0.0,0.533333,0.152542
1,0.003614,0.031799,1.917683e-08,1.917966e-08,0.130435,0.266667,0.000000,0.0,0.0,0.0,...,0.666667,1.0,0.004004,0.000000,0.0,0.791792,0.0,0.0,0.266667,0.474576
2,0.000040,0.000040,1.718993e-08,1.812102e-06,0.217391,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.182182,0.000000,0.0,0.182182,0.0,0.0,0.000000,0.525424
3,0.051019,0.069523,5.165939e-08,5.166223e-08,0.478261,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.003704,0.000000,0.0,0.000300,0.0,0.0,0.333333,0.203390
4,0.042813,0.018067,1.472744e-06,1.472747e-06,0.434783,0.466667,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.628629,0.000000,0.0,0.009910,0.0,0.0,0.466667,0.559322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0.007142,0.076069,8.642551e-08,8.642834e-08,0.000000,0.466667,0.500000,0.0,0.0,0.0,...,0.500000,0.0,0.000100,0.000000,0.0,0.000200,0.0,0.0,0.466667,0.830508
299996,0.029310,0.066259,1.825238e-06,1.825241e-06,0.913043,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.393393,0.833333,0.0,0.026026,0.0,0.0,0.000000,0.728814
299997,0.030029,0.007555,2.710898e-08,2.711181e-08,0.304348,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.833333,0.0,0.000100,0.0,0.0,0.333333,0.457627
299998,0.001045,0.633588,3.443579e-07,3.443607e-07,0.130435,0.600000,0.833333,0.0,0.0,0.0,...,0.000000,0.0,0.896897,0.000000,0.0,0.004304,0.0,0.0,0.600000,0.779661
299999,0.006471,0.058969,6.996483e-08,6.996766e-08,0.043478,0.200000,1.000000,0.0,0.0,0.0,...,1.000000,0.0,0.001001,0.000000,0.0,0.001201,0.0,0.0,0.200000,0.576271

# Split the dataset.

In [11]:
from sklearn.model_selection import train_test_split

y = y.reset_index(drop=True)

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
# sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)
# Example: X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, # X scalered data.
                                                    y, # y
                                                    test_size=0.25, # test_size : float or int, default=None
                                                    random_state=42, # random_state : int, RandomState instance or None, default=None
                                                    shuffle=True, # shuffle : bool, default=True
                                                    stratify=y) # stratify : array-like, default=None

# Sort the index of X_train
X_train = X_train.sort_index()

# Sort the index of X_test
X_test = X_test.sort_index()

# Sort the index of y_train
y_train = y_train.sort_index()

# Sort the index of y_test
y_test = y_test.sort_index()

In [12]:
# Show the training dataset. X_train and y_train.
display("The predict_cols_scaled_df_X_train dataset: \n", X_train)
# y_train
display("\n\nThe predict_cols_scaled_df_y_train dataset: \n", y_train)
y_train.value_counts()

'The predict_cols_scaled_df_X_train dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.022805,0.035392,1.842286e-08,1.842569e-08,0.347826,0.533333,0.666667,0.0,0.0,0.0,...,0.000000,0.0,0.001001,1.000000,0.0,0.000901,0.0,0.0,0.533333,0.152542
1,0.003614,0.031799,1.917683e-08,1.917966e-08,0.130435,0.266667,0.000000,0.0,0.0,0.0,...,0.666667,1.0,0.004004,0.000000,0.0,0.791792,0.0,0.0,0.266667,0.474576
3,0.051019,0.069523,5.165939e-08,5.166223e-08,0.478261,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.003704,0.000000,0.0,0.000300,0.0,0.0,0.333333,0.203390
4,0.042813,0.018067,1.472744e-06,1.472747e-06,0.434783,0.466667,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.628629,0.000000,0.0,0.009910,0.0,0.0,0.466667,0.559322
6,0.001860,0.005452,2.287808e-07,2.287837e-07,0.173913,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.000701,0.333333,0.0,0.000701,0.0,0.0,0.333333,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299993,0.000594,0.003702,9.274434e-07,9.274462e-07,0.260870,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.501502,0.000000,0.0,0.685686,0.0,0.0,0.000000,0.491525
299995,0.007142,0.076069,8.642551e-08,8.642834e-08,0.000000,0.466667,0.500000,0.0,0.0,0.0,...,0.500000,0.0,0.000100,0.000000,0.0,0.000200,0.0,0.0,0.466667,0.830508
299997,0.030029,0.007555,2.710898e-08,2.711181e-08,0.304348,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.833333,0.0,0.000100,0.0,0.0,0.333333,0.457627
299998,0.001045,0.633588,3.443579e-07,3.443607e-07,0.130435,0.600000,0.833333,0.0,0.0,0.0,...,0.000000,0.0,0.896897,0.000000,0.0,0.004304,0.0,0.0,0.600000,0.779661
299999,0.006471,0.058969,6.996483e-08,6.996766e-08,0.043478,0.200000,1.000000,0.0,0.0,0.0,...,1.000000,0.0,0.001001,0.000000,0.0,0.001201,0.0,0.0,0.200000,0.576271

'\n\nThe predict_cols_scaled_df_y_train dataset: \n'

0         0
1         0
3         0
4         0
6         0
         ..
299993    0
299995    0
299997    0
299998    0
299999    0
Name: Is Laundering, Length: 225000, dtype: int64

0    224836
1       164
Name: Is Laundering, dtype: int64

In [13]:
# Show the testing dataset. X_test and y_test.
display("The predict_cols_scaled_df_X_test dataset: \n", X_test)
# y_test
display("\n\nThe predict_cols_scaled_df_y_test dataset: \n", y_test)
y_test.value_counts()

'The predict_cols_scaled_df_X_test dataset: \n'

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
2,0.000040,0.000040,1.718993e-08,1.812102e-06,0.217391,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.182182,0.000000,0.0,0.182182,0.0,0.0,0.000000,0.525424
5,0.000003,0.000003,1.236019e-09,1.238852e-09,0.000000,0.000000,0.500000,0.0,0.0,0.0,...,0.500000,0.0,0.000701,0.500000,0.0,0.000701,0.0,0.0,0.000000,0.254237
7,0.003428,0.003771,7.298380e-08,7.298664e-08,0.652174,0.333333,0.166667,0.0,0.0,0.0,...,0.500000,0.0,0.000901,0.000000,0.0,0.000100,0.0,0.0,0.333333,0.898305
13,0.041884,0.049544,7.776040e-07,7.776068e-07,0.913043,0.266667,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.988989,0.666667,0.0,0.055055,0.0,0.0,0.266667,0.152542
15,0.003266,0.623383,2.101231e-10,2.129570e-10,0.000000,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.008008,0.000000,0.0,0.000601,0.0,0.0,0.000000,0.474576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299979,0.058862,0.022090,1.937675e-07,1.937704e-07,0.304348,0.333333,0.166667,0.0,0.0,0.0,...,0.000000,0.0,0.000701,1.000000,0.0,0.014014,0.0,0.0,0.333333,0.305085
299982,0.043147,0.058263,9.041785e-08,9.042068e-08,0.347826,0.533333,0.666667,0.0,0.0,0.0,...,0.000000,0.0,0.000501,0.000000,0.0,0.220220,0.0,0.0,0.533333,0.983051
299991,0.000032,0.584968,1.773374e-06,1.773377e-06,0.782609,0.066667,0.666667,0.0,0.0,0.0,...,0.833333,0.0,0.000400,0.000000,0.0,0.739740,0.0,0.0,0.066667,0.000000
299994,0.059647,0.450987,1.019000e-04,1.019000e-04,0.652174,0.400000,0.333333,0.0,0.0,0.0,...,0.000000,0.0,0.148148,0.000000,0.0,0.663664,0.0,0.0,0.400000,0.169492
299996,0.029310,0.066259,1.825238e-06,1.825241e-06,0.913043,0.000000,0.500000,0.0,0.0,0.0,...,0.000000,0.0,0.393393,0.833333,0.0,0.026026,0.0,0.0,0.000000,0.728814

'\n\nThe predict_cols_scaled_df_y_test dataset: \n'

2         0
5         0
7         0
13        0
15        0
         ..
299979    0
299982    0
299991    0
299994    0
299996    0
Name: Is Laundering, Length: 75000, dtype: int64

0    74946
1       54
Name: Is Laundering, dtype: int64

# Balance the train dataset.

In [14]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from sklearn.utils import shuffle
from joblib import Parallel, delayed
import numpy as np
import pandas as pd

# Create a valid SMOTEENN instance with actual SMOTE
def create_smoteenn():
    return SMOTEENN(
        sampling_strategy='auto',
        random_state=42,
        smote=SMOTE(k_neighbors=3, n_jobs=-1),
        enn=EditedNearestNeighbours(n_neighbors=3, n_jobs=-1),
        n_jobs=-1
    )

# Process one batch safely
def process_batch(X_batch, y_batch, i):
    try:
        sme = create_smoteenn()
        X_res, y_res = sme.fit_resample(X_batch, y_batch)
        print(f"Batch {i+1} done")
        return X_res, y_res
    except Exception as e:
        print(f"Skipping batch {i+1}: {e}")
        return None

# Main function: parallel + SMOTEENN
def batchwise_smoteenn_fast(X, y, batch_size=200000, n_jobs=-1):
    # Optional shuffle to randomize order
    X, y = shuffle(X, y, random_state=42)

    # Convert to NumPy for slicing
    X_np = X.values if isinstance(X, pd.DataFrame) else X
    y_np = y.values if isinstance(y, pd.Series) else y

    num_rows = len(X_np)
    num_batches = (num_rows + batch_size - 1) // batch_size

    # Prepare batches
    batches = [
        (X_np[i * batch_size : min((i + 1) * batch_size, num_rows)],
         y_np[i * batch_size : min((i + 1) * batch_size, num_rows)], i)
        for i in range(num_batches)
    ]

    print(f"Starting parallel processing with {num_batches} batches...")

    # Run in parallel
    results = Parallel(n_jobs=n_jobs)(
        delayed(process_batch)(*args) for args in batches
    )

    # Filter out failed batches
    X_resampled_list = [r[0] for r in results if r is not None]
    y_resampled_list = [r[1] for r in results if r is not None]

    if not X_resampled_list:
        raise ValueError("All batches failed. Nothing to concatenate.")

    # Combine
    X_final = np.vstack(X_resampled_list)
    y_final = np.hstack(y_resampled_list)

    # Convert back to DataFrame/Series if needed
    if isinstance(X, pd.DataFrame):
        X_final = pd.DataFrame(X_final, columns=X.columns)
    if isinstance(y, pd.Series):
        y_final = pd.Series(y_final, name=y.name)

    print("All batches processed and combined.")
    return X_final, y_final

X_train, y_train = batchwise_smoteenn_fast(X_train, y_train, batch_size=200000, n_jobs=4)

X_train

Starting parallel processing with 2 batches...

/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(
/usr/local/lib/python3.10/site-packages/imblearn/over_sampling/_smote/base.py:345: FutureWarning: The parameter `n_jobs` has been deprecated in 0.10 and will be removed in 0.12. You can pass an nearest neighbors estimator where `n_jobs` is already set instead.
  warnings.warn(

All batches processed and combined.

,From Bank,To Bank,Amount Received,Amount Paid,hour,day,weekday,month,Receiving Currency_US Dollar,Payment Currency_Australian Dollar,...,AG_L1,AG_L2,AG_Num,AG1_L1,AG1_L2,AG1_Num,timestamp_column_name_year,timestamp_column_name_month,timestamp_column_name_day,timestamp_column_name_minute
0,0.004349,0.067035,3.651570e-07,3.651598e-07,0.565217,0.400000,0.333333,0.0,0.0,0.0,...,0.00000,0.000000,0.400400,0.833333,0.0,0.056056,0.0,0.0,0.400000,0.559322
1,0.342399,0.343650,1.495502e-06,1.495505e-06,0.260870,0.533333,0.666667,0.0,0.0,0.0,...,0.00000,0.000000,0.211211,1.000000,0.0,0.032032,0.0,0.0,0.533333,0.677966
2,0.300380,0.300657,4.264264e-09,4.267098e-09,0.000000,0.000000,0.500000,0.0,0.0,0.0,...,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.322034
3,0.563859,0.635875,7.424238e-07,7.424266e-07,0.869565,0.333333,0.166667,0.0,0.0,0.0,...,1.00000,0.000000,0.000501,0.833333,0.0,0.065065,0.0,0.0,0.333333,0.966102
4,0.056402,0.000032,4.017060e-11,4.300448e-11,0.000000,0.533333,0.666667,0.0,0.0,0.0,...,0.50000,0.333333,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.533333,0.152542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449667,0.023400,0.037849,6.904751e-07,6.904779e-07,0.332317,0.442887,0.440550,0.0,0.0,0.0,...,0.29725,0.000000,0.000393,0.940550,0.0,0.031242,0.0,0.0,0.442887,0.714241
449668,0.302084,0.030193,8.813332e-07,8.813360e-07,0.467520,0.136399,0.840999,0.0,0.0,0.0,...,0.00000,0.000000,0.000348,0.000000,0.0,0.002385,0.0,0.0,0.136399,0.518898
449669,0.288176,0.543083,2.549029e-06,2.549032e-06,0.739642,0.009468,0.523669,0.0,0.0,0.0,...,0.00000,0.000000,0.000572,0.000000,0.0,0.000672,0.0,0.0,0.009468,0.925381
449670,0.000053,0.030226,8.719412e-07,8.719441e-07,0.259275,0.195110,0.425836,0.0,0.0,0.0,...,0.00000,0.000000,0.000400,0.000000,0.0,0.000404,0.0,0.0,0.195110,0.572541
449671,0.000024,0.001868,1.632021e-06,1.632024e-06,0.552587,0.409460,0.356983,0.0,0.0,0.0,...,0.00000,0.000000,0.000172,0.000000,0.0,0.000129,0.0,0.0,0.409460,0.436038

In [15]:
display(y_train)
y_train.value_counts()

0         0
1         0
2         0
3         0
4         0
         ..
449667    1
449668    1
449669    1
449670    1
449671    1
Name: Is Laundering, Length: 449672, dtype: int64

0    224836
1    224836
Name: Is Laundering, dtype: int64

# Compute the weight to y_train as we already balanced it in the earlier code.

In [16]:
from sklearn.utils.class_weight import compute_class_weight

# numpy.ravel(a, order='C') : Return a contiguous flattened array.
# A 1-D array, containing the elements of the input, is returned. A copy is made only if needed.
y_train = y_train.values.ravel()

# https://scikit-learn.org/stable/modules/generated/sklearn.utils.class_weight.compute_class_weight.html
# sklearn.utils.class_weight.compute_class_weight(class_weight, *, classes, y)
# Returns: class_weight_vect : ndarray of shape (n_classes,) : Array with class_weight_vect[i] the weight for i-th class.
temp_compute_class_weight = compute_class_weight(class_weight="balanced", # class_weight : dict, “balanced” or None
                                                 classes=np.unique(y_train), # classes : ndarray
                                                 y=y_train) # y : array-like of shape (n_samples,)

# Classification and weighting.
tempResClassWeight = {tempIdx: tempData1 for tempIdx, tempData1 in zip(np.unique(y_train, 
                                                                                 return_index=False, 
                                                                                 return_inverse=False, 
                                                                                 return_counts=False, 
                                                                                 axis=None, 
                                                                                 equal_nan=True), 
                                                                      temp_compute_class_weight)}

# Show weight.
tempResClassWeight

{0: 1.0, 1: 1.0}

# So, now, Data Processing work over. It's the most important step. Otherwise, we won't get best results. Now, off to 5 models to test.

In [17]:
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, roc_auc_score

# Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.htmls
# sklearn.metrics.make_scorer(score_func, *, response_method='default', greater_is_better=True, **kwargs)
# Make a scorer from a performance metric or loss function.
# A scorer is a wrapper around an arbitrary metric or loss function that is called with the signature scorer(estimator, X, y_true, **kwargs).
# It is accepted in all scikit-learn estimators or functions allowing a scoring parameter.
# The parameter response_method allows to specify which method of the estimator should be used to feed the scoring/loss function.
# response_method{“predict_proba”, “decision_function”, “predict”} or list/tuple of such str, default=None
# metrics_score_list = {
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
#     'accuracy_score' : make_scorer(accuracy_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
#     'precision_score' : make_scorer(precision_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
#     'recall_scores' : make_scorer(recall_score),
#     # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
#     'roc_auc_score' : make_scorer(roc_auc_score),
# }

metrics_score_list = ['accuracy', # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
                      'precision', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htmls
                      'recall', 
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
                      'roc_auc',
                      # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html
                     'f1']

# Model-1: Neural Network (AUC ROC + Accurcay + F1)

In [18]:
from tensorflow.keras.models import Sequential
from scikeras.wrappers import KerasClassifier
from tensorflow.keras.layers import Dense, Dropout
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from tensorflow import keras
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score, f1_score, precision_score, recall_score

# https://www.tensorflow.org/guide/keras/sequential_model
# https://keras.io/guides/sequential_model/
# https://faroit.com/keras-docs/1.0.1/getting-started/sequential-model-guide/
# https://adriangb.com/scikeras/stable/generated/scikeras.wrappers.KerasClassifier.html
# class scikeras.wrappers.KerasClassifier(model=None, *, build_fn=None, warm_start=False, random_state=None, optimizer='rmsprop', loss=None, metrics=None, batch_size=None, validation_batch_size=None, verbose=1, callbacks=None, validation_split=0.0, shuffle=True, run_eagerly=False, epochs=1, class_weight=None, **kwargs)
# You can also create a Sequential model incrementally via the add() method:
# model = keras.Sequential()
# model.add(layers.Dense(2, activation="relu"))
# model.add(layers.Dense(3, activation="relu"))
# model.add(layers.Dense(4))
def create_model(learning_rate=0.001):
    model = keras.Sequential()
    model.add(keras.layers.Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(16, activation='relu'))
    model.add(keras.layers.Dense(1, activation='sigmoid'))  # Binary classification
    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )
    return model

clf_Nun = KerasClassifier(model=create_model, 
                      verbose=0)


# estimator details for LogisticRegressions.
# https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
# https://machinelearningmastery.com/grid-search-hyperparameters-deep-learning-models-python-keras/
pipeline = Pipeline([
    ('clf', clf_Nun)
])
# Inverse of regularization strength; must be a positive float.
# C : float, default=1.0
# param_grid : dict or list of dictionaries
param_grid = {
    'clf__model__learning_rate': [0.001,
                                  0.01],
    'clf__batch_size': [16, 
                        32],
    'clf__epochs': [10, 
                    20]
}

# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
# class sklearn.model_selection.GridSearchCV(estimator, param_grid, *, scoring=None, n_jobs=None, refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score=nan, return_train_score=False)
# clf_NuN_grid_search = GridSearchCV(estimator=pipeline,
#                                    param_grid=param_grid,
#                                    cv=3,
#                                    verbose=1,
#                                    error_score='raise'
#                                 )

clf_NuN_grid_search = GridSearchCV(
                    estimator=pipeline,
                    param_grid=param_grid,
                    scoring=metrics_score_list, 
                    refit=False,
                    cv=3,
                    verbose=1,
                    error_score='raise'
                )


# fit(X, y=None, **params)
clf_NuN_grid_search.fit(X_train, # X
                       y_train) # y

# cv_results_dict of numpy (masked) ndarrays : A dict with keys as column headers and values as columns, that can be imported into a pandas DataFrame.
tempResCV = clf_NuN_grid_search.cv_results_
print("\n The clf_NuN_grid_search's results are: \n", clf_NuN_grid_search.cv_results_)

# AOC-RUC
print("\n\n****************************************************************************************")
print("\nBASED ON LOGISTIC REGRESSION CLASSIFIER's BEST AUC-ROC PARAMETER:")
tempo_mapping_roc_auc = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_roc_auc'].argmax()]
print(f"\nThe Best Parameters for AUC-ROC:\n {tempo_mapping_roc_auc}")

2025-05-05 22:09:48.850176: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

Fitting 3 folds for each of 8 candidates, totalling 24 fits
Batch 2 done
Batch 1 done

 The clf_NuN_grid_search's results are:
 {'mean_fit_time': array([257.76261759, 233.83506004, 434.69444704, 443.37715141,
       111.87171292, 136.99747245, 220.53415092, 222.33284513]), 'std_fit_time': array([12.10050965, 20.15726585, 53.73454802,  8.53868238,  4.06589928,
        3.10388715,  3.68977963,  9.89160369]), 'mean_score_time': array([20.0733974 , 20.04321933, 19.32566953, 22.01130939, 11.18381278,
       11.77805042,  9.78210243, 10.59411542]), 'std_score_time': array([1.81230511, 1.56620693, 1.51213281, 3.38523681, 1.72676729,
       0.35618276, 0.12612821, 0.83840933]), 'param_clf__batch_size': masked_array(data=[16, 16, 16, 16, 32, 32, 32, 32],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_clf__epochs': masked_array(data=[10, 10, 20, 20, 10, 10, 20, 20],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_clf__model__learning_rate': masked_array(data=[0.001, 0.01, 0.001, 0.01, 0.001, 0.01, 0.001, 0.01],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'clf__batch_size': 16, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 16, 'clf__epochs': 10, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 16, 'clf__epochs': 20, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 16, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.01}, {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.001}, {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.01}], 'split0_test_accuracy': array([0.99098011, 0.98945901, 0.99132036, 0.98949904, 0.98833152,
       0.99167395, 0.98848497, 0.99106684]), 'split1_test_accuracy': array([0.98975923, 0.98851165, 0.99268135, 0.98950571, 0.98873848,
       0.99139375, 0.99202087, 0.99264799]), 'split2_test_accuracy': array([0.87636934, 0.86832344, 0.85740877, 0.87037161, 0.88161318,
       0.86494096, 0.86857696, 0.85754887]), 'mean_test_accuracy': array([0.95236956, 0.9487647 , 0.94713682, 0.94979212, 0.9528944 ,
       0.94933622, 0.94969426, 0.9470879 ]), 'std_test_accuracy': array([0.05374258, 0.05688188, 0.06344975, 0.05615878, 0.0504037 ,
       0.05967657, 0.05737676, 0.06331695]), 'rank_test_accuracy': array([2, 6, 7, 3, 1, 5, 4, 8], dtype=int32), 'split0_test_precision': array([0.98227978, 0.98043299, 0.98298749, 0.98250714, 0.97851782,
       0.98527649, 0.97751314, 0.98257369]), 'split1_test_precision': array([0.97995476, 0.98153409, 0.98772901, 0.9797565 , 0.97871034,
       0.98314223, 0.98486562, 0.98628928]), 'split2_test_precision': array([0.98092137, 0.97910303, 0.98655816, 0.97865186, 0.97747838,
       0.98071887, 0.98560228, 0.9867931 ]), 'mean_test_precision': array([0.98105197, 0.9803567 , 0.98575822, 0.98030517, 0.97823551,
       0.98304587, 0.98266035, 0.98521869]), 'std_test_precision': array([0.00095367, 0.00099394, 0.00201667, 0.00162102, 0.00054111,
       0.00186189, 0.00365203, 0.00188157]), 'rank_test_precision': array([5, 6, 1, 7, 8, 3, 4, 2], dtype=int32), 'split0_test_recall': array([1.        , 0.99885249, 0.99994663, 0.99674428, 0.99858563,
       0.99826539, 0.99997331, 0.99986657]), 'split1_test_recall': array([0.99997331, 0.99575695, 0.99775839, 0.99966643, 0.99921277,
       0.99993329, 0.99939957, 0.99918608]), 'split2_test_recall': array([0.76766962, 0.75271199, 0.72469144, 0.75726199, 0.78122623,
       0.74451931, 0.74808193, 0.72479819]), 'mean_test_recall': array([0.92254765, 0.91577381, 0.90746548, 0.9178909 , 0.92634154,
       0.91423933, 0.91581827, 0.90795028]), 'std_test_recall': array([0.1095153 , 0.11530904, 0.12924385, 0.11358805, 0.10261234,
       0.12001211, 0.11860774, 0.12950838]), 'rank_test_recall': array([2, 5, 8, 3, 1, 6, 4, 7], dtype=int32), 'split0_test_roc_auc': array([0.99718369, 0.99559325, 0.99737405, 0.99635945, 0.99561477,
       0.99668998, 0.9968845 , 0.99692298]), 'split1_test_roc_auc': array([0.99652815, 0.99474147, 0.99759669, 0.99614511, 0.99584784,
       0.99765675, 0.99741067, 0.99744005]), 'split2_test_roc_auc': array([0.97919842, 0.96777684, 0.97583436, 0.96590063, 0.97846308,
       0.97464136, 0.98161992, 0.97035244]), 'mean_test_roc_auc': array([0.99097009, 0.98603719, 0.99026837, 0.98613506, 0.98997523,
       0.9896627 , 0.9919717 , 0.98823849]), 'std_test_roc_auc': array([0.00832813, 0.01291669, 0.01020679, 0.01430817, 0.00814087,
       0.01062902, 0.00732296, 0.01264911]), 'rank_test_roc_auc': array([2, 8, 3, 7, 4, 5, 1, 6], dtype=int32), 'split0_test_f1': array([0.99106068, 0.98955703, 0.99139454, 0.9895745 , 0.98844988,
       0.99172842, 0.98861568, 0.99114471]), 'split1_test_f1': array([0.98986283, 0.98859436, 0.99271837, 0.98961133, 0.98885529,
       0.99146667, 0.99207937, 0.9926958 ]), 'split2_test_f1': array([0.8612918 , 0.85111005, 0.83558851, 0.85383944, 0.86840251,
       0.84645024, 0.85057157, 0.83574374]), 'mean_test_f1': array([0.9474051 , 0.94308715, 0.93990047, 0.94434176, 0.94856923,
       0.94321511, 0.94375554, 0.93986141]), 'std_test_f1': array([0.06089327, 0.06503882, 0.07376167, 0.0639948 , 0.05668667,
       0.06842318, 0.06590618, 0.07362504]), 'rank_test_f1': array([2, 6, 7, 3, 1, 5, 4, 8], dtype=int32)}


****************************************************************************************

BASED ON LOGISTIC REGRESSION CLASSIFIER's BEST AUC-ROC PARAMETER:

The Best Parameters for AUC-ROC:
 {'clf__batch_size': 32, 'clf__epochs': 20, 'clf__model__learning_rate': 0.001}

In [19]:
tempo_mapping_roc_auc_fixed = {
    key.replace("clf_NuN__", "clf__"): val for key, val in tempo_mapping_roc_auc.items()
}

tempo_mapping_roc_auc_model = pipeline.set_params(**tempo_mapping_roc_auc_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_roc_auc_model.predict(X_test)
tempYPred_probability = tempo_mapping_roc_auc_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# ACCURACY
print("\n\n****************************************************************************************")
print("\nBASED ON RLOGISTIC REGRESSION CLASSIFIER's BEST ACCURACY PARAMETER:")
tempo_mapping_accuracy = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_accuracy'].argmax()]
print(f"\nThe Best Parameters for ACCURACY:\n {tempo_mapping_accuracy}")

tempo_mapping_accuracy_fixed = {
    key.replace("clf__", "clf__"): val for key, val in tempo_mapping_accuracy.items()
}

tempo_mapping_accuracy_model = pipeline.set_params(**tempo_mapping_accuracy_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_accuracy_model.predict(X_test)
tempYPred_probability = tempo_mapping_accuracy_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\nThe AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")


# F1
print("\n\n****************************************************************************************")
print("\nBASED ON LOGISTIC REGRESSION CLASSIFIER's BEST F-1 PARAMETER:")
tempo_mapping_f1 = clf_NuN_grid_search.cv_results_['params'][tempResCV['mean_test_f1'].argmax()]
print(f"\nThe Best Parameters for F1:\n {tempo_mapping_f1}")

tempo_mapping_f1_fixed = {
    key.replace("clf__", "clf__"): val for key, val in tempo_mapping_f1.items()
}
tempo_mapping_f1_model = pipeline.set_params(**tempo_mapping_f1_fixed).fit(X_train, y_train)
tempYPred = tempo_mapping_f1_model.predict(X_test)
tempYPred_probability = tempo_mapping_f1_model.predict_proba(X_test)[:,
                                                                     # Probability of the positive class (class 1)
                                                                     1]
# Classification report.
# sklearn.metrics.classification_report(y_true, tempYPred, *, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
print(classification_report(y_test, # y_true : 1d
                            tempYPred, # tempYPred : 1d
                            labels=None, 
                            target_names=None, 
                            sample_weight=None, 
                            digits=2, 
                            output_dict=False, 
                            zero_division='warn'))
# Get the roc_auc_score.
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
tmpAucRocScore = roc_auc_score(y_test, 
                               tempYPred_probability,
                               average='micro', 
                               sample_weight=None, 
                               max_fpr=None, 
                               multi_class='raise', 
                               labels=None)
print(f"\n[TEST DATA] The AUC-ROC Score of the best model parameters:\n {tmpAucRocScore:.4f}")
# Test data calculations.
tmpAccuracyScore = accuracy_score(y_test, tempYPred)
print(f"\n[TEST DATA] The accuracy Score of the best model parameters:\n {tmpAccuracyScore:.4f}")
tmpF1Score = f1_score(y_test, tempYPred)
print(f"\n[TEST DATA] The F1 Score of the best model parameters:\n {tmpF1Score:.4f}")

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     74946
           1       0.01      0.19      0.01        54

    accuracy                           0.98     75000
   macro avg       0.50      0.58      0.50     75000
weighted avg       1.00      0.98      0.99     75000


The AUC-ROC Score of the best model parameters:
 0.8815

[TEST DATA] The accuracy Score of the best model parameters:
 0.9804

[TEST DATA] The F1 Score of the best model parameters:
 0.0134


****************************************************************************************

BASED ON RLOGISTIC REGRESSION CLASSIFIER's BEST ACCURACY PARAMETER:

The Best Parameters for ACCURACY:
 {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}
              precision    recall  f1-score   support

           0       1.00      0.98      0.99     74946
           1       0.01      0.20      0.02        54

    accuracy                           0.98     75000
   macro avg       0.50      0.59      0.50     75000
weighted avg       1.00      0.98      0.99     75000


The AUC-ROC Score of the best model parameters:
 0.8762

[TEST DATA] The accuracy Score of the best model parameters:
 0.9808

[TEST DATA] The F1 Score of the best model parameters:
 0.0150


****************************************************************************************

BASED ON LOGISTIC REGRESSION CLASSIFIER's BEST F-1 PARAMETER:

The Best Parameters for F1:
 {'clf__batch_size': 32, 'clf__epochs': 10, 'clf__model__learning_rate': 0.001}
              precision    recall  f1-score   support

           0       1.00      0.98      0.99     74946
           1       0.01      0.15      0.01        54

    accuracy                           0.98     75000
   macro avg       0.50      0.57      0.50     75000
weighted avg       1.00      0.98      0.99     75000


[TEST DATA] The AUC-ROC Score of the best model parameters:
 0.8796

[TEST DATA] The accuracy Score of the best model parameters:
 0.9829

[TEST DATA] The F1 Score of the best model parameters:
 0.0123

In [20]:
pd.Series(y_test).value_counts()

0    74946
1       54
Name: Is Laundering, dtype: int64

In [21]:
print(tempo_mapping_roc_auc_fixed.keys())

dict_keys(['clf__batch_size', 'clf__epochs', 'clf__model__learning_rate'])